@{
    ViewBag.Title = "SingleDetailView";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
<link rel="stylesheet" href="~/Content/WeChat.css?a=@DateTime.Now.ToShortTimeString()" />
<script src="~/Scripts/echarts.common.min.js"></script>
<style>
    .newWeui-cells {
        background-color: #fff;
        overflow: hidden;
    }

    .newWeui-cell {
        padding: 10px 15px 0 15px;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    * {
        margin: 0;
        padding: 0;
    }

    input:focus {
        border-color: #294B8C !important;
        outline: 0;
    }

    select {
        background-color: transparent;
        border-color: transparent;
        border: 1px solid #294B8C;
    }

    select:focus {
        background-color: transparent;
        border-color: transparent;
        border-color: #294B8C !important;
        outline: 0;
    }

    .log-window {
        width: 100%;
        height: 100%;
        background-color: #999999;
        opacity: 0.5;
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
    }

    input[type="range"] {
        -webkit-appearance: none; /*去除默认样式*/
        margin-top: 15px;
        background-color: rgb(233,233,233);
        background: -webkit-linear-gradient(#19479D, #19479D) no-repeat;
        background-size: 0% 100%;
        width: 80% !important;
        -webkit-appearance: none;
        height: 3px;
        padding: 0;
        border: none;
    }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none; /*去除默认样式*/
            cursor: default;
            top: 0;
            height: 20px;
            width: 20px;
            transform: translateY(0px);
            background: #19479D;
            border-radius: 15px;
        }
</style>
}

<div class="log-window" onclick="dismiss()"></div>
<div style="position:relative;margin-bottom:40pt;">
    <div style="height:50pt;">
        <div style="font-size:14pt;color:#19479d;float:left;margin-top:15pt;margin-left: 12pt;" onclick="GoBack()"><img src="../../Content/Images/back.png" style="width:20pt" /><span style="position: relative;bottom: 4pt;">返回</span></div>
        <div style="float:right;margin-top: 6pt;margin-right: 12pt;"><img src="../../Content/Images/smalllogo.png" style="width:39pt;" /></div>
        <div style="color:#19479d;font-size:12pt;float:right;padding-top:16pt;">用户名&emsp;</div>
    </div>
    <div id="seachBar" style="padding:0 12pt;" onclick="ShowSearch()">
        <div style="width:87%;"><input type="text" style="float: left;color:#19479d;width: 85%;height: 30pt;border-bottom-left-radius: 25pt;border-top-left-radius: 25pt;border: 1px solid #19479d;font-size: 14pt;outline: none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;" placeholder="&emsp;请输入关键字" /></div>
        <div style="float:left;height: 30pt;background: #19479d;width: 26%;padding-top:5pt;border-bottom-right-radius: 25pt;border-top-right-radius: 25pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-align: center;"><img src="../../Content/Images/search2.png" style="width:20pt" /></div>
    </div>
</div>

<script type="text/javascript">
    function ShowSearch() {
        $(".log-window").css('display', "block");
        $("#SearchPad").css("display", "block");
        $(".weui-search-bar").css("display", "none");
    }

    function GoBack() {
        window.history.go(-1);
    }

    function cancelSearch() {
        $(".log-window").css('display', "none");
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }

    function Search() {
        $(".log-window").css('display', "none");
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }
    function dismiss() {
        $(".log-window").css('display', "none");
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }
</script>


<div id="SearchPad" style="display:none;position:fixed;background-color:white;z-index:2;top:0;width:100%;z-index:3">
    <div style="height:50pt;">
        <div style="font-size:14pt;color:#19479d;float:left;margin-top:15pt;margin-left: 12pt;" onclick="dismiss()"><img src="../../Content/Images/back.png" style="width:20pt" /><span style="position: relative;bottom: 4pt;">返回</span></div>
        <div style="float:right;margin-top: 6pt;margin-right: 12pt;"><img src="../../Content/Images/smalllogo.png" style="width:39pt;" /></div>
        <div style="color:#19479d;font-size:12pt;float:right;padding-top:16pt;">用户名&emsp;</div>
    </div>

    <div style="margin:12pt;height:40pt;">
        <div style="width:30%;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">时间</div>
        <div style="width:30%;height:24pt;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box"><input id="timestart" type="text" value="2017-01-01 12:00" style="width:100%;height:100%;border:1px solid black;font-size:9pt;font-weight:700;text-align:center"></div>
        <div style="text-align:center;width:17pt;height:24pt;font-size:12pt;float:left;line-height:24pt;color:#294B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">至</div>
        <div style="width:30%;height:24pt;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box"><input id="timeend" type="text" value="2017-01-01 12:00" style="width:100%;height:100%;border:1px solid black;font-size:9pt;font-weight:700;text-align:center"></div>
    </div>

    <div style="margin:12pt;height:40pt;">
        <div style="width:30%;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">吨位</div>
        <div style="width:5%;height:24pt;font-size:12pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">0</div>
        <div style="width:62%;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <div><input type="range" id="sliderTrackTonnage" style="width: 32%;background-color:rgb(233,233,233);float:left;margin: 15px 6pt;" value="0" /></div>
            <div id="sliderValueTonnage" style="color:black;width:5%;height:24pt;font-size:12pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">0</div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#sliderValueTonnage').text(0);
            $('#sliderTrackTonnage').on('input propertychange', function () {
                $('#sliderValueTonnage').text(document.getElementById("sliderTrackTonnage").value);
            })
            $.fn.RangeSlider = function (cfg) {
                this.sliderCfg = {
                    min: cfg && !isNaN(parseFloat(cfg.min)) ? Number(cfg.min) : null,
                    max: cfg && !isNaN(parseFloat(cfg.max)) ? Number(cfg.max) : null,
                    step: cfg && Number(cfg.step) ? cfg.step : 1,
                    callback: cfg && cfg.callback ? cfg.callback : null
                };

                var $input = $(this);
                var min = this.sliderCfg.min;
                var max = this.sliderCfg.max;
                var step = this.sliderCfg.step;
                var callback = this.sliderCfg.callback;

                $input.attr('min', min)
                    .attr('max', max)
                    .attr('step', step);

                $input.bind("input", function (e) {
                    $input.attr('value', this.value);
                    $input.css('background-size', this.value + '% 100%');

                    if ($.isFunction(callback)) {
                        callback(this);
                    }
                });
            };
            $('#sliderTrackTonnage').RangeSlider({ min: 0, max: 100, step: 1, callback: '' });
        });
    </script>
    <div style="margin:12pt;height:40pt;">
        <div style="width:30%;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">效率</div>
        <div style="width:5%;height:24pt;font-size:12pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">0</div>
        <div style="width:62%;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <div><input type="range" id="sliderTrackTonnage1" style="width: 32%;background-color:rgb(233,233,233);float:left;margin: 15px 6pt;" value="0" /></div>
            <div id="sliderValueTonnage1" style="color:black;width:5%;height:24pt;font-size:12pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">0</div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#sliderValueTonnage1').text(0);
            $('#sliderTrackTonnage1').on('input propertychange', function () {
                $('#sliderValueTonnage1').text(document.getElementById("sliderTrackTonnage1").value);
            })
            $.fn.RangeSlider = function (cfg) {
                this.sliderCfg = {
                    min: cfg && !isNaN(parseFloat(cfg.min)) ? Number(cfg.min) : null,
                    max: cfg && !isNaN(parseFloat(cfg.max)) ? Number(cfg.max) : null,
                    step: cfg && Number(cfg.step) ? cfg.step : 1,
                    callback: cfg && cfg.callback ? cfg.callback : null
                };

                var $input = $(this);
                var min = this.sliderCfg.min;
                var max = this.sliderCfg.max;
                var step = this.sliderCfg.step;
                var callback = this.sliderCfg.callback;

                $input.attr('min', min)
                    .attr('max', max)
                    .attr('step', step);

                $input.bind("input", function (e) {
                    $input.attr('value', this.value);
                    $input.css('background-size', this.value + '% 100%');

                    if ($.isFunction(callback)) {
                        callback(this);
                    }
                });
            };
            $('#sliderTrackTonnage1').RangeSlider({ min: 0, max: 100, step: 1, callback: '' });
        });
    </script>

    <div style="margin:12pt;height:40pt;">
        <div style="width:30%;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">区域</div>
        <div style="width:40%;height:24pt;font-size:12pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <input class="weui-input" style="border:1px solid #294b8c;padding-left:9pt;" id="SearchLocat" type="text" readonly placeholder="默认为全部" value="重庆市" onclick="SearchLocatFunc()">
            <div style="float:right; width: 0; height: 0;margin-top:-14pt;margin-left:90pt ;border-left: 5pt solid transparent;border-right: 5pt solid transparent;border-top: 6pt solid #294b8c;"></div>
        </div>
    </div>

    <div style="margin:12pt;height:40pt;">
        <div style="width:30%;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">制造单位</div>
        <div style="width:67%;height:24pt;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <input id="make" type="text" style="height:100%;width:100%;border:1px solid #294B8C;font-size:12pt;outline:0;padding-left:9pt;" placeholder="请输入制造单位" />
        </div>
    </div>

    <div style="margin:12pt;height:40pt;">
        <div style="width:30%;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">使用单位</div>
        <div style="width:67%;height:24pt;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <input type="text" style="height:100%;width:100%;border:1px solid #294B8C;font-size:12pt;padding-left:9pt;" placeholder="请输入使用单位" />
        </div>
    </div>
    <div style="margin:12pt;height:40pt;text-align:center">
        <a class="weui-btn weui-btn_warn" style="background-color:#2B5297;width:24vw;">确认</a>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#SearchPad').css('height', window.innerHeight + 'px');
    })
</script>


<script type="text/javascript">
    $("#timestart").datetimePicker({
        title: '起始时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
    $("#timeend").datetimePicker({
        title: '结束时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });



    function SearchLocatFunc() {
        $.actions({
            title: "选择区域",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "重庆市",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#SearchLocat").val("重庆市");
                    }
                },
                {
                    text: "江北区",
                    className: "color-primary",
                    onClick: function () {
                        $("#SearchLocat").val("江北区");
                    }
                },
                {
                    text: "渝中区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝中区");
                    }
                },
                {
                    text: "沙坪坝区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("沙坪坝区");
                    }
                },
                {
                    text: "渝北",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝北");
                    }
                },
                {
                    text: "九龙坡区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("九龙坡区");
                    }
                },
                {
                    text: "北碚区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("北碚区");
                    }
                }

            ]
        });
    }
</script>

<h2 style="text-align:center;width:100%;font-size:9pt;">天然气工业锅炉</h2>
<div class="newnewWeui-cells" style="border:none;">
    <div class="newWeui-cell" style="font-size:3pt;">
        <div class="newWeui-cell__hd" style="width:55%;padding-right:5%">
            <p>型号:<span>WNS1-1.0-Y.Q</span></p>
            <p>T<sub>py</sub>:<span>221.60℃</span></p>
            <p style="display:block">O<sub>₂</sub>:<span>9.04%</span></p>
            <p>P:<span>0.76MPa</span></p>
        </div>
        <div class="newWeui-cell__hd" style="width:45%;padding-right:5%;">
            <p>编号:<span>NO.08006</span></p>
            <p>T<sub>lk</sub>:<span>16.90℃</span></p>
            <p>CO:<span>0.00%</span></p>
            <p>能效:<span>83.45%</span></p>

        </div>
        <img src="../../Content/Images/boiler.png" style="width:25%;" />
    </div>

    <div class="newWeui-cell" style="font-size: 14pt;height:28pt;border-radius: 15pt;border: 1px solid #19479d;margin: 12pt;padding:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
        <div class="newWeui-cell__hd" id="errchartbtn" style="width:50%;text-align:center;background-color:antiquewhite;border-radius:15pt;border: 1px solid #19479d;margin:0;" onclick="getErrChart()">
            <p style="width:100%;height: 26pt;line-height: 26pt;">故障图表</p>
        </div>
        <div class="newWeui-cell__hd" id="effichartbtn" style="width:50%;text-align:center;background-color:aqua;border-bottom-right-radius:15pt;border-radius:15pt;margin:0;" onclick="getEffiChart()">
            <p style="width: auto;height: 26pt;line-height: 26pt;">效率图表</p>
        </div>
    </div>

    <div style="width:100%;height:250px;" id="main3"></div>
    <div style="width:100%;height:400px;" id="main1"></div>
    <div style="width:100%;height:12pt;"></div>
    <div style="width:100%;height:300px;margin-bottom: 25pt;" id="main2"></div>

    @*<div class="newWeui-cell">
        <div class="newWeui-cell__hd"><label for="time-format" class="weui-label">起始时间</label></div>
        <div class="newWeui-cell__bd">
            <input class="weui-input" id="timestart" type="text" value="2017-01-01 12:00">
        </div>
    </div>
    <div class="newWeui-cell">
        <div class="newWeui-cell__hd"><label for="time-format" class="weui-label">结束时间</label></div>
        <div class="newWeui-cell__bd">
            <input class="weui-input" id="timeend" type="text" value="2017-01-01 12:00">
        </div>
    </div>*@
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('main2'));
    var myChart2 = echarts.init(document.getElementById("main1"));
    var myChart3 = echarts.init(document.getElementById("main3"));

    option1 = {
        title: {
            left: 'center',
            text: '排烟温度',
            textStyle: {
                fontSize: 23,
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            top: '20%',
            left: '3%',
            right: '15%',
            bottom: '0%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['11:10', '11:20', '11:30', '11:40', '11:50', '11:60', '11:70']
        },
        yAxis: {
            type: 'value',
            min: 50,
            axisLabel: {
                formatter: '{value} °C'
            }
        },
        series: [
            {
                name: '排烟温度',
                type: 'line',
                data: [80, 90, 120, 80, 70, 90, 80],
                markPoint: {
                    data: [
                        { type: 'max', name: '高' },
                        { type: 'min', name: '低' }
                    ]
                },
                markLine: {
                    data: [
                        { type: 'average', name: '平均值' }
                    ]
                }
            }
        ]
    };

    option2 = {
        title: {
            left: 'center',
            text: '效率',
            textStyle: {
                fontSize: 23,
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '15%',
            bottom: '0%',
            containLabel: true,
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['10月','11月','12月', '1月', '2月', '3月', '4月']
        },
        yAxis: {
            type: 'value',
            min: 50,
            max:100,
            axisLabel: {
                formatter: '{value} %'
            }
        },
        series: [
            {
                name: '效率',
                type: 'line',
                data: [ 81, 85, 84, 83, 85, 84, 83],
                //markPoint: {
                //    data: [
                //        { name: '问题', value: '问题', xAxis: 3, yAxis: 6 }
                //    ]
                //},
                smooth: true,
                markLine: {
                    data: [
                        { type: 'average', name: '平均值' },
                        [{
                            symbol: 'none',
                            x: '80%',
                            yAxis: 'max'
                        }, {
                            symbol: 'circle',
                            label: {
                                normal: {
                                    position: 'start',
                                    formatter: '最大值'
                                }
                            }
                        }]
                    ]
                }
            }
        ]
    };

    option3 = {
        title: {
            left: 'center',
            text: '压力',
            textStyle: {
                fontSize: 23,
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '15%',
            bottom: '0%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['11:10', '11:20', '11:30', '11:40', '11:50', '11:60', '11:70']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value} KPa'
            }
        },
        series: [
            {
                name: '压力',
                type: 'line',
                data: [20, 25, 30, 35, 40, 30, 35],
                //markPoint: {
                //    data: [
                //        { name: '问题', value: '问题', xAxis: 3, yAxis: 6 }
                //    ]
                //},
                markLine: {
                    data: [
                        { type: 'average', name: '平均值' },
                        [{
                            symbol: 'none',
                            x: '80%',
                            yAxis: 'max'
                        }, {
                            symbol: 'circle',
                            label: {
                                normal: {
                                    position: 'start',
                                    formatter: '最大值'
                                }
                            },
                            type: 'max',
                            name: '最高点'
                        }]
                    ]
                }
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    if ("@ViewBag.ChartType" == "Efficiency") {
        getEffiChart();
    } else {
        getErrChart();
    }
    //myChart1.setOption(option1, true);
    //myChart2.setOption(option3, true);

    function getErrChart() {
        $('#errchartbtn').css({ 'background-color': '#19479d', 'border-radius': '15pt', 'border': '1px solid #19479d', 'color': 'white' });
        $('#effichartbtn').css({ 'background-color': 'white', 'border-radius': '15pt', 'border': 'none', 'color': 'black' });
        $("#main1").css("display", "block");
        $("#main2").css("display", "block");
        $("#main3").css("display", "none");
        myChart1.setOption(option1, true);
        myChart2.setOption(option3, true);
    }

    function getEffiChart() {
        $('#errchartbtn').css({ 'background-color': 'white', 'border-radius': '15pt', 'border': 'none', 'color': 'black' });
        $('#effichartbtn').css({ 'background-color': '#19479d', 'border-radius': '15pt', 'border': '1px solid #19479d', 'color': 'white' });
        $("#main1").css("display", "none");
        $("#main2").css("display", "none");
        $("#main3").css("display", "block");
        myChart3.setOption(option2, true);
    }
    window.onresize = function () {
        myChart1.resize();
        myChart2.resize();
    }
</script>

<script type="text/javascript">
    $("#timestart").datetimePicker({
        title: '起始时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
    $("#timeend").datetimePicker({
        title: '结束时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
</script>



<div style="clear:both;height:50px;width:100%;"></div>
<div style="position:fixed;width:100%;bottom:0px;height:40pt;background-color:white;font-size:12pt;border:solid 1pt #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoMainStateView()">首页</span></div>
    <div style="float:left;width:20%;text-align:center;background-color:#19479d"><span style="line-height:40pt;color:white;" onclick="GoEfficiencyView()">能效</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoSafeStateView()">安全</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoMapView()">地图</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoSettingView()">设置</span></div>
</div>
<script type="text/javascript">

    function GoMainStateView() {
        window.location.href = "/MainPage/MainStateView";
    }

    function GoEfficiencyView() {
        window.location.href = "/MainPage/EfficiencyView";
    }

    function GoSafeStateView() {
        window.location.href = "/MainPage/SafeStateView";
    }

    function GoMapView() {
        window.location.href = "/MainPage/MapView";
    }

    function GoSettingView() {
        window.location.href = "/MainPage/SettingView";
    }
</script>

