
@{
    ViewBag.Title = "SingleDetailView";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
    <link rel="stylesheet" href="~/Content/WeChat.css?a=@DateTime.Now.ToShortTimeString()" />
    <script src="~/Scripts/echarts.common.min.js"></script>
<style>
    .newWeui-cells {
        background-color: #fff;
        font-size: 14pt;
        overflow: hidden;
    }
    .newWeui-cell {
        padding: 10px 15px;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
</style>
}

    <div style="position:relative;margin-bottom:52pt;">
        <div style="height:50pt;">
            <div style="font-size:18pt;color:#19479d;float:left;margin-top:15pt;margin-left: 12pt;" onclick="GoBack()"><img src="../../Content/Images/back.png" style="width:20pt" /><span style="position: relative;bottom: 4pt;">返回</span></div>
            <div style="float:right;margin-top: 6pt;margin-right: 12pt;"><img src="../../Content/Images/smalllogo.png" style="width:39pt;" /></div>
            <div style="color:#19479d;font-size:14pt;float:right;padding-top:16pt;">用户名&emsp;</div>
        </div>
        <div style="padding:0 12pt;" onclick="ShowSearch()">
            <div style="width:87%;"><input type="text" style="float: left;color:#19479d;width: 94%;height: 40pt;border-bottom-left-radius: 25pt;border-top-left-radius: 25pt;border: 1px solid #19479d;font-size: 16pt;outline: none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;" placeholder="&emsp;请输入关键字" /></div>
            <div style="float:left;height: 40pt;background: #19479d;width: 18%;top: 0pt;border-bottom-right-radius: 25pt;border-top-right-radius: 25pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-align: center;padding: 8pt"><img src="../../Content/Images/search2.png" /></div>
        </div>
    </div>
<script type="text/javascript">
    function ShowSearch() {
        $("#SearchPad").css("display", "block");
        $(".weui-search-bar").css("display", "none");
    }

    function GoBack() {
        window.location.href = "/MainPage/MainStateView";
    }

    function cancelSearch() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }

    function Search() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }
</script>

<div id="SearchPad" style="display:none;position:absolute;height:100%;width:100%;background-color:white;z-index:5;">
    <div style="height:40px;float:left;width:20%;background-color:cornflowerblue;">
        <p style="text-align:center;font-size:16px;line-height:40px;" onclick="cancelSearch()">返回</p>
    </div>
    <div style="height:40px;float:left;width:60%;">
        <p style="text-align:center;font-size:16px;line-height:40px;">搜索选项列表</p>
    </div>
    <div style="height:40px;float:left;width:20%;background-color:cornflowerblue;">
        <p style="text-align:center;font-size:16px;line-height:40px;" onclick="Search()">确定</p>
    </div>
    <div class="newWeui-cells__title" style="clear:both;">吨位</div>
    <div class="newWeui-cells">
        <div class="newWeui-cell">
            <div class="newWeui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入吨位，默认为全部">
            </div>
        </div>
    </div>
    <div class="newWeui-cells__title" style="clear:both;">效率区间值（默认为全部）</div>
    <div class="newWeui-cells">
        <div class="newWeui-cell">
            <div class="newWeui-cell__hd">
                <input class="weui-input" type="number" placeholder="最小值">
            </div>
            <div class="newWeui-cell__hd">
                <input class="weui-input" type="number" placeholder="最大值">
            </div>
        </div>
    </div>
    <div class="newWeui-cells__title" style="clear:both;">时间区间选择</div>
    <div class="newWeui-cell">
        <div class="newWeui-cell__hd"><label for="time-format" class="weui-label">起始时间</label></div>
        <div class="newWeui-cell__bd">
            <input class="weui-input" id="timestart" type="text" value="2017-01-01 12:00">
        </div>
    </div>
    <div class="newWeui-cell">
        <div class="newWeui-cell__hd"><label for="time-format" class="weui-label">结束时间</label></div>
        <div class="newWeui-cell__bd">
            <input class="weui-input" id="timeend" type="text" value="2017-01-01 12:00">
        </div>
    </div>
    <div class="newWeui-cells__title" style="clear:both;">区域</div>
    <div class="newWeui-cell">
        <div class="newWeui-cell__hd"><label for="time-format" class="weui-label">区域选择</label></div>
        <div class="newWeui-cell__bd">
            <input class="weui-input" id="SearchLocat" type="text" readonly placeholder="默认为全部" value="重庆市" onclick="SearchLocatFunc()">
        </div>
    </div>
    <div class="newWeui-cells__title" style="clear:both;">制造单位</div>
    <div class="newWeui-cells">
        <div class="newWeui-cell">
            <div class="newWeui-cell__bd">
                <input class="weui-input" type="text" placeholder="默认为全部">
            </div>
        </div>
    </div>
    <div class="newWeui-cells__title" style="clear:both;">使用单位</div>
    <div class="newWeui-cells">
        <div class="newWeui-cell">
            <div class="newWeui-cell__bd">
                <input class="weui-input" type="text" placeholder="默认为全部">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#timestart").datetimePicker({
        title: '起始时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
    $("#timeend").datetimePicker({
        title: '结束时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });



    function SearchLocatFunc() {
        $.actions({
            title: "选择区域",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "重庆市",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#SearchLocat").val("重庆市");
                    }
                },
                {
                    text: "江北区",
                    className: "color-primary",
                    onClick: function () {
                        $("#SearchLocat").val("江北区");
                    }
                },
                {
                    text: "渝中区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝中区");
                    }
                },
                {
                    text: "沙坪坝区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("沙坪坝区");
                    }
                },
                {
                    text: "渝北",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝北");
                    }
                },
                {
                    text: "九龙坡区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("九龙坡区");
                    }
                },
                {
                    text: "北碚区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("北碚区");
                    }
                }

            ]
        });
    }
</script>

<h2 style="text-align:center;width:100%;font-size:18pt;">设备名称</h2>
<div class="newnewWeui-cells" style="border:none;">
    <div class="newWeui-cell" style="font-size:14pt;">
        <div class="newWeui-cell__hd" style="width:55%;">
            <img src="../../Content/Images/boiler.png" style="width:65%;margin-left:10%;"/>
        </div>
        <div class="newWeui-cell__hd" style="width:45%;">
            <p style="width:auto;">编号:<span>xxxx</span></p>
            <p style="width:auto;">型号:<span>xxxx</span></p>
            <p style="width:auto;">状态:<span>xxxx</span></p>
            <p style="width:auto;">地址:<span>xxxx</span></p>
            <p style="width:auto;">氧气:<span>xxxx</span></p>
            <p style="width:auto;">冷空气温度:<span>xxxx</span></p>
            <p style="width:auto;">表面温度:<span>xxxx</span></p>
            <p style="width:auto;">蒸汽压力:<span>xxxx</span></p>
            <p style="width:auto;">一氧化碳:<span>xxxx</span></p>
            <p style="width:auto;">Tpy:<span>xxxx</span></p>
        </div>
    </div>
    <div class="newWeui-cell" style="font-size: 14pt;height:28pt;border-radius: 15pt;border: 1px solid #19479d;margin: 12pt;padding:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
        <div class="newWeui-cell__hd" id="errchartbtn" style="width:50%;text-align:center;background-color:antiquewhite;border-radius:15pt;border: 1px solid #19479d;margin:0;" onclick="getErrChart()">
            <p style="width:100%;height: 27pt;line-height: 26pt;">故障图表</p>
        </div>
        <div class="newWeui-cell__hd" id="effichartbtn" style="width:50%;text-align:center;background-color:aqua;border-bottom-right-radius:15pt;border-radius:15pt;margin:0;" onclick="getEffiChart()">
            <p style="width: auto;height: 27pt;line-height: 26pt;">效率图表</p>
        </div>
    </div>

    <div style="width:100%;height:400px;" id="main1"></div>
    <div style="width:100%;height:12pt;"></div>
    <div style="width:100%;height:400px;margin-bottom: 25pt;" id="main2"></div>

    @*<div class="newWeui-cell">
        <div class="newWeui-cell__hd"><label for="time-format" class="weui-label">起始时间</label></div>
        <div class="newWeui-cell__bd">
            <input class="weui-input" id="timestart" type="text" value="2017-01-01 12:00">
        </div>
    </div>
    <div class="newWeui-cell">
        <div class="newWeui-cell__hd"><label for="time-format" class="weui-label">结束时间</label></div>
        <div class="newWeui-cell__bd">
            <input class="weui-input" id="timeend" type="text" value="2017-01-01 12:00">
        </div>
    </div>*@
</div>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main1'));
        var myChart2 = echarts.init(document.getElementById("main2"));
        option1 = {
            title: {
                left: 'center',
                text: '排烟温度',
                textStyle: {
                    fontSize: 23,
                }
            },
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                top: '20%',
                left: '3%',
                right: '15%',
                bottom: '0%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['11:10', '11:20', '11:30', '11:40', '11:50', '11:60', '11:70']
            },
            yAxis: {
                type: 'value',
                min: 50,
                axisLabel: {
                    formatter: '{value} °C'
                }
            },
            series: [
                {
                    name: '排烟温度',
                    type: 'line',
                    data: [80, 90, 120, 80, 70, 90, 80],
                    markPoint: {
                        data: [
                            { type: 'max', name: '高' },
                            { type: 'min', name: '低' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                }
            ]
        };

        option2 = {
            title: {
                left: 'center',
                text: '效率',
                textStyle: {
                    fontSize: 23,
                }
            },
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '3%',
                right: '15%',
                bottom: '0%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['11:10', '11:20', '11:30', '11:40', '11:50', '11:60', '11:70']
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} %'
                }
            },
            series: [
                {
                    name: '效率',
                    type: 'line',
                    data: [60, 65, 68, 65, 70, 65, 63],
                    //markPoint: {
                    //    data: [
                    //        { name: '问题', value: '问题', xAxis: 3, yAxis: 6 }
                    //    ]
                    //},
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' },
                            [{
                                symbol: 'none',
                                x: '80%',
                                yAxis: 'max'
                            }, {
                                symbol: 'circle',
                                label: {
                                    normal: {
                                        position: 'start',
                                        formatter: '最大值'
                                    }
                                },
                                type: 'max',
                                name: '最高点'
                            }]
                        ]
                    }
                }
            ]
        };

        option3 = {
            title: {
                left: 'center',
                text: '压力',
                textStyle: {
                    fontSize: 23,
                }
            },
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '3%',
                right: '15%',
                bottom: '0%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['11:10', '11:20', '11:30', '11:40', '11:50', '11:60', '11:70']
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} KPa'
                }
            },
            series: [
                {
                    name: '压力',
                    type: 'line',
                    data: [20, 25, 30, 35, 40, 30, 35],
                    //markPoint: {
                    //    data: [
                    //        { name: '问题', value: '问题', xAxis: 3, yAxis: 6 }
                    //    ]
                    //},
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' },
                            [{
                                symbol: 'none',
                                x: '80%',
                                yAxis: 'max'
                            }, {
                                symbol: 'circle',
                                label: {
                                    normal: {
                                        position: 'start',
                                        formatter: '最大值'
                                    }
                                },
                                type: 'max',
                                name: '最高点'
                            }]
                        ]
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        if ("@ViewBag.ChartType"=="Efficiency") {
            getEffiChart();
        } else {
            getErrChart();
        }
        //myChart1.setOption(option1, true);
        //myChart2.setOption(option3, true);

        function getErrChart() {
            $('#errchartbtn').css({'background-color': '#19479d', 'border-radius': '15pt','border': '1px solid #19479d','color':'white'});
            $('#effichartbtn').css({ 'background-color': 'white', 'border-radius': '15pt','border': 'none','color':'black'});
            $("#main2").css("display", "block");
            myChart1.setOption(option1, true);
            myChart2.setOption(option3, true);
        }

        function getEffiChart() {
            $('#errchartbtn').css({ 'background-color': 'white', 'border-radius': '15pt', 'border': 'none', 'color': 'black' });
            $('#effichartbtn').css({ 'background-color': '#19479d', 'border-radius': '15pt', 'border': '1px solid #19479d', 'color': 'white' });
                $("#main2").css("display", "none");
                myChart1.setOption(option2, true);
    }
    window.onresize = function () {
        myChart1.resize();
        myChart2.resize();
    }
</script>

<script type="text/javascript">
    $("#timestart").datetimePicker({
        title: '起始时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
    $("#timeend").datetimePicker({
        title: '结束时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
</script>



<div style="clear:both;height:50px;width:100%;"></div>
<div style="position:fixed;width:100%;bottom:0px;height:40pt;background-color:white;font-size:18pt;border:solid 1pt #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoMainStateView()">首页</span></div>
    <div style="float:left;width:20%;text-align:center;background-color:#19479d"><span style="line-height:40pt;color:white;" onclick="GoEfficiencyView()">能效</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoSafeStateView()">安全</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoMapView()">地图</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoSettingView()">设置</span></div>
</div>
<script type="text/javascript">

    function GoMainStateView() {
        window.location.href = "/MainPage/MainStateView";
    }

    function GoEfficiencyView() {
        window.location.href = "/MainPage/EfficiencyView";
    }

    function GoSafeStateView() {
        window.location.href = "/MainPage/SafeStateView";
    }

    function GoMapView() {
        window.location.href = "/MainPage/MapView";
    }

    function GoSettingView() {
        window.location.href = "/MainPage/SettingView";
    }
</script>

