@{
    ViewBag.Title = "实时参数";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
    <link rel="stylesheet" href="~/Content/WeChat.css?a=@DateTime.Now.ToShortTimeString()" />
}

<div class="detailTitle">
    <div style="float:left;width:15%;height:50px;text-align: center;line-height:50px;" onclick="GoBackFunc()">
        <img style="vertical-align: middle;display: inline-block;" src="~/Content/Images/goback.jpg" />
    </div>
    <div style="float:left;width:80%;height:50px;line-height:50px;">
        <p style="text-align:center;line-height:50px;margin:0;font-size:12pt;">设备数据</p>
    </div>
</div>
<div style="height:50px;"></div>


<div class="detailContent">
    <div style="float:left;height:80px;width:20%;text-align:center;line-height:80px;margin-left:10px;">
        <img style="vertical-align:middle;display:inline-block; height:70px;" src="~/Content/Images/temperature.png" />
    </div>
    <div style="margin-left:20px;width:40%;float:left">
        <p style="font-weight:bolder;">排烟温度T<span style="font-size:0.5em;">py</span></p>
        <p style="font-size:12pt;color:cadetblue;">XXX ℃</p>
    </div>
    <div style="float:left;height:80px;width:30%;text-align:center;line-height:80px;" onclick="LinkToChartView(1)"> 
        <img style="vertical-align:middle;display:inline-block; height:45px;" src="~/Content/Images/chartimg.jpg" />
    </div>
</div>
<div class="detailContent">
    <div style="float:left;height:80px;width:20%;text-align:center;line-height:80px;margin-left:10px;">
        <img style="vertical-align:middle;display:inline-block; height:70px;" src="~/Content/Images/CO.png" />
    </div>
    <div style="margin-left:20px;width:40%;float:left">
        <p style="font-weight:bolder;">一氧化碳CO</p>
        <p style="font-size:12pt;color:cadetblue;">XXX %</p>
    </div>
    <div style="float:left;height:80px;width:30%;text-align:center;line-height:80px;" onclick="LinkToChartView(2)">
        <img style="vertical-align:middle;display:inline-block; height:45px;" src="~/Content/Images/chartimg.jpg" />
    </div>
</div>
<div class="detailContent">
    <div style="float:left;height:80px;width:20%;text-align:center;line-height:80px;margin-left:10px;">
        <img style="vertical-align:middle;display:inline-block; height:70px;" src="~/Content/Images/CO2.png" />
    </div>
    <div style="margin-left:20px;width:40%;float:left">
        <p style="font-weight:bolder;">氧气O<span style="font-size:0.5em;">2</span></p>
        <p style="font-size:12pt;color:cadetblue;">XXX %</p>
    </div>
    <div style="float:left;height:80px;width:30%;text-align:center;line-height:80px;" onclick="LinkToChartView(2)">
        <img style="vertical-align:middle;display:inline-block; height:45px;" src="~/Content/Images/chartimg.jpg" />
    </div>
</div>
<div class="detailContent">
    <div style="float:left;height:80px;width:20%;text-align:center;line-height:80px;margin-left:10px;">
        <img style="vertical-align:middle;display:inline-block; height:70px;" src="~/Content/Images/TLK.png" />
    </div>
    <div style="margin-left:20px;width:40%;float:left">
        <p style="font-weight:bolder;">冷空气温度T<span style="font-size:0.5em;">lk</span></p>
        <p style="font-size:12pt;color:cadetblue;">XXX ℃</p>
    </div>
    <div style="float:left;height:80px;width:30%;text-align:center;line-height:80px;" onclick="LinkToChartView(1)">
        <img style="vertical-align:middle;display:inline-block; height:45px;" src="~/Content/Images/chartimg.jpg" />
    </div>
</div>
<div class="detailContent">
    <div style="float:left;height:80px;width:20%;text-align:center;line-height:80px;margin-left:10px;">
        <img style="vertical-align:middle;display:inline-block; height:70px;" src="~/Content/Images/TBM.png" />
    </div>
    <div style="margin-left:20px;width:40%;float:left">
        <p style="font-weight:bolder;">表面温度T<span style="font-size:0.5em;">bm</span></p>
        <p style="font-size:12pt;color:cadetblue;">XXX ℃</p>
    </div>
    <div style="float:left;height:80px;width:30%;text-align:center;line-height:80px;" onclick="LinkToChartView(1)">
        <img style="vertical-align:middle;display:inline-block; height:45px;" src="~/Content/Images/chartimg.jpg" />
    </div>
</div>
<div class="detailContent">
    <div style="float:left;height:80px;width:20%;text-align:center;line-height:80px;margin-left:10px;">
        <img style="vertical-align:middle;display:inline-block; height:70px;" src="~/Content/Images/P.png" />
    </div>
    <div style="margin-left:20px;width:40%;float:left">
        <p style="font-weight:bolder;">蒸汽压力P<span style="font-size:0.5em;"></span></p>
        <p style="font-size:12pt;color:cadetblue;">XXX Pa</p>
    </div>
    <div style="float:left;height:80px;width:30%;text-align:center;line-height:80px;" onclick="LinkToChartView(3)">
        <img style="vertical-align:middle;display:inline-block; height:45px;" src="~/Content/Images/chartimg.jpg" />
    </div>
</div>



<script type="text/javascript">
    
    function LinkToChartView(Unit) {
        window.location.href = "/MainPage/ChartView?from=DetailView&fromId=1&Unit=" + Unit;
    }

    function GoBackFunc() {
        window.history.go(-1); 


    }
</script>










