
@{
    ViewBag.Title = "设备列表";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
    <link rel="stylesheet" href="~/Content/WeChat.css?@DateTime.Now.ToString();" />
}

<div style="position:relative;width:100%;">
    <div style="font-size:18pt;color:#19479d;position: relative;top: 20pt;margin-left: 12pt;"><img src="../../Content/Images/back.png" style="width:20pt" onclick="GoBack()" /><span style="position: relative;bottom: 4pt;">返回</span></div>
    <div style="color:#19479d;font-size:14pt;position: absolute;top: 10px;right: 12pt;"><span style="position: relative;bottom: 20pt">用户名&emsp;</span><img src="../../Content/Images/smalllogo.png" style="width:50pt;height:50pt;" /></div>
    <div style="position: relative;top: 40pt;padding:0 12px;" onclick="ShowSearch()">
        <input type="text" style="color:#19479d;width: 95%;height: 50pt;border-bottom-left-radius: 25pt;border-top-left-radius: 25pt;border: 1px solid #19479d;border-bottom-right-radius: 25pt;border-top-right-radius: 25pt;font-size: 22pt;outline: none;" placeholder="&emsp;请输入关键字" />
        <div style="height: 51pt;position: absolute;right: 3%;background: #19479d;width: 85pt;top: 0pt;border-bottom-right-radius: 25pt;border-top-right-radius: 25pt;"><img src="../../Content/Images/search2.png" style="    position: absolute;top: 13pt;left: 25pt;" /></div>
    </div>
</div>
<script type="text/javascript">
    function ShowSearch() {
        $("#SearchPad").css("display", "block");
        $(".weui-search-bar").css("display", "none");
    }

    function GoBack() {
        window.location.href = "/MainPage/MainStateView";
    }

    function cancelSearch() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }

    function Search() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }
</script>

<div id="SearchPad" style="display:none;position:absolute;height:100%;width:100%;background-color:white;z-index:5;">
    <div style="height:40px;float:left;width:20%;background-color:cornflowerblue;">
        <p style="text-align:center;font-size:16px;line-height:40px;" onclick="cancelSearch()">返回</p>
    </div>
    <div style="height:40px;float:left;width:60%;">
        <p style="text-align:center;font-size:16px;line-height:40px;">搜索选项列表</p>
    </div>
    <div style="height:40px;float:left;width:20%;background-color:cornflowerblue;">
        <p style="text-align:center;font-size:16px;line-height:40px;" onclick="Search()">确定</p>
    </div>
    <div class="weui-cells__title" style="clear:both;">吨位</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入吨位，默认为全部">
            </div>
        </div>
    </div>
    <div class="weui-cells__title" style="clear:both;">效率区间值（默认为全部）</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <input class="weui-input" type="number" placeholder="最小值">
            </div>
            <div class="weui-cell__hd">
                <input class="weui-input" type="number" placeholder="最大值">
            </div>
        </div>
    </div>
    <div class="weui-cells__title" style="clear:both;">时间区间选择</div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="time-format" class="weui-label">起始时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="timestart" type="text" value="2017-01-01 12:00">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="time-format" class="weui-label">结束时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="timeend" type="text" value="2017-01-01 12:00">
        </div>
    </div>
    <div class="weui-cells__title" style="clear:both;">区域</div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="time-format" class="weui-label">区域选择</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="SearchLocat" type="text" readonly placeholder="默认为全部" value="重庆市" onclick="SearchLocatFunc()">
        </div>
    </div>
    <div class="weui-cells__title" style="clear:both;">制造单位</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="默认为全部">
            </div>
        </div>
    </div>
    <div class="weui-cells__title" style="clear:both;">使用单位</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="默认为全部">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#timestart").datetimePicker({
        title: '起始时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
    $("#timeend").datetimePicker({
        title: '结束时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });



    function SearchLocatFunc() {
        $.actions({
            title: "选择区域",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "重庆市",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#SearchLocat").val("重庆市");
                    }
                },
                {
                    text: "江北区",
                    className: "color-primary",
                    onClick: function () {
                        $("#SearchLocat").val("江北区");
                    }
                },
                {
                    text: "渝中区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝中区");
                    }
                },
                {
                    text: "沙坪坝区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("沙坪坝区");
                    }
                },
                {
                    text: "渝北",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝北");
                    }
                },
                {
                    text: "九龙坡区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("九龙坡区");
                    }
                },
                {
                    text: "北碚区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("北碚区");
                    }
                }

            ]
        });
    }
</script>
<div style="height:60px;"></div>


@for (int i = 0; i < 6; i++)
{
    <div class="deviceContent" style="height:auto;">
        <div class="leftimg">
            <img style="height:120px;" src="~/Content/Images/boiler.png" />
        </div>
        <div class="rightinfo" style="height:auto;" onclick="GoToDetailView()">
            <p style="font-size:1em;margin-top:5px;margin-bottom:0;white-space:nowrap;overflow:hidden;">型号:<span>XXX</span>  </p>
            <p style="font-size:1em;margin-top:5px;margin-bottom:0;white-space:nowrap;overflow:hidden;">编号:<span>XXX</span>  </p>
            <p style="font-size:1em;margin-top:5px;margin-bottom:0;">状态:<span style="margin-left:5px;color:#ffffff;background: #008000">在线</span></p>
            <p style="font-size:1em;margin-top:5px;margin-bottom:0;white-space:nowrap;overflow:hidden;">地址:<span>XXX</span>  </p>
            <p style="font-size:1em;margin-top:5px;margin-bottom:0;white-space:nowrap;overflow:hidden;">效率:<span>XXX</span>  </p>
            <p style="font-size:1em;margin-top:5px;margin-bottom:0;white-space:nowrap;overflow:hidden;">故障:<span>XXX</span>  </p>
        </div>
    </div>
}

<script type="text/javascript">

    $("#timestart").datetimePicker({
        title: '起始时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
    $("#timeend").datetimePicker({
        title: '结束时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });



    function SearchLocatFunc() {
        $.actions({
            title: "选择区域",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "重庆市",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#SearchLocat").val("重庆市");
                    }
                },
                {
                    text: "江北区",
                    className: "color-primary",
                    onClick: function () {
                        $("#SearchLocat").val("江北区");
                    }
                },
                {
                    text: "渝中区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝中区");
                    }
                },
                {
                    text: "沙坪坝区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("沙坪坝区");
                    }
                },
                {
                    text: "渝北",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝北");
                    }
                },
                {
                    text: "九龙坡区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("九龙坡区");
                    }
                },
                {
                    text: "北碚区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("北碚区");
                    }
                }

            ]
        });
    }


    function GoToDetailView() {
        window.location.href = "/MainPage/DetailSingleView";
    }

    function GoBackFunc() {
        window.location.href = "/MainPage/MainStateView";


    }
</script>

<div style="clear:both;height:50px;width:100%;"></div>
<div style="position:fixed;width:100%;bottom:0px;height:50px;background-color:white;">
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:50px;" onclick="GoMainStateView()">首页</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:50px;" onclick="GoEfficiencyView()">能效</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:50px;" onclick="GoSafeStateView()">安全</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:50px;" onclick="GoMapView()">地图</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:50px;" onclick="GoSettingView()">设置</span></div>
</div>
<script type="text/javascript">

    function GoMainStateView() {
        window.location.href = "/MainPage/MainStateView";
    }

    function GoEfficiencyView() {
        window.location.href = "/MainPage/EfficiencyView";
    }

    function GoSafeStateView() {
        window.location.href = "/MainPage/SafeStateView";
    }

    function GoMapView() {
        window.location.href = "/MainPage/MapView";
    }

    function GoSettingView() {
        window.location.href = "/MainPage/SettingView";
    }
</script>


