@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<style>
    body {
        margin: 0;
        padding: 0;
        color: #666;
        background: #fff;

        font-family: "微软雅黑";
        font-size: 22pt;
    }

    .form_login {
        max-width: 640px;
        margin: auto;
        text-align: center;
    }

    .form-group {
        width: 355px;
        margin: 0 auto;
        height: 50px;
        margin-bottom: 5px;
    }

        .form-group .fa {
            display: block;
            width: 50px;
            height: 50px;
            float: left;
        }

        .form-group .form-control {
            display: block;
            width: 300px;
            height: 48px;
            float: left;
            border: 1px solid #ccc;
            padding: 0;
            margin-left: 0;
            text-indent: 2em;
            font-size: large;
        }

            .form-group .form-control:hover {
                border: 1px solid #0160A0;
            }

        .form-group .checkfont {
            color: #666;
        }

        .form-group .btn {
            width: 350px;
            height: 50px;
            background-color: #0160A0;
            border: 0px;
            color: #fff;
            font-size: 14px;
        }

    .fa-user {
        background: url(/Content/Images/pw.png) no-repeat center;
    }

    .fa-key {
        background: url(/Content/Images/pw.png) no-repeat center;
    }

    .form_footer {
        font-size: 20pt;
        color: #5B809A;

        margin-left:25%;
        margin-right:15px;
    }

    .button {
        width: 180px;
        height: 70px;
        border: 0;
        background-color: rgb(43,82,151);

        color:aliceblue;
        font-size:22pt;

        border-radius:5px;

    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }

    .input {
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
        line-height: normal;
        width: 250pt;
        height: 28pt;
        outline: none;
        font-size: 30pt;
        color: rgb(43,82,151);
        float: left;
        margin-left: 5%;
        margin-top: 3px;

        border-width:3px;
        border-style: none none none solid;
        border-color: rgb(43,82,151);
    }


    .login {
        padding-top:50pt;
        padding-right:20pt;
        padding-left:20pt;
        padding-bottom:20pt;

    }

    .br{
        height:3px;
        background-color:rgb(43,82,151);
        margin-top:7px;
    }

    .hint{
        margin-top:-40pt;
        margin-left:-21%;

        font-size:18pt;
    }
    
</style>

<script type="text/javascript">
    var sendCode = "发送验证码";
    var sendTime = 0;
    var change;

    function SendIdentifyingCode() {
        if (sendTime>= 60) {
            document.getElementById("send").value = "再次发送";
            document.getElementById("send").style.color = "rgb(43,82,151)";
            document.getElementById("send").disabled="false";
            sendTime = 0;
            window.clearInterval(change);
        } else {
            if (sendTime == 0) {
                change = self.setInterval("SendIdentifyingCode()", 1000);
            }
            document.getElementById("send").value = "再次发送(" + (60 - sendTime) + "s)";
            document.getElementById("send").style.color = "rgb(169,169,169)";
            document.getElementById("send").disabled = "disabled";
            sendTime++;

            document.getElementById("hint").style.visibility = "visible"; 
        }
        
    }


</script>

}

<div class="form_login">
    <div style="padding-left:8%;padding-right:8%;margin-bottom:7%;margin-top:15%;"><img style="width:100%;" src="~/Content/Images/biglogo.png" /></div>

    <div class="login">
        <span style="float:left; ">用户名</span>
        <input  name="name" value="" class="input" />
        <button style="margin-top:3px;  float:right; border:0; background:transparent; font-size:19pt; font-family:微软雅黑; color:rgb(43,82,151);">注册帐号</button>
        <br />

        <HR class="br"/>
    </div>

    <div class="login">
        <span style="float:left;">验证码</span>
        <input name="name" value="" class="input" />
        <input type="button" id="send" style="margin-top:3px; float:right; border:0; background:transparent;  font-size:19pt; font-family:微软雅黑; color:rgb(43,82,151);" value="发送验证码" onclick="SendIdentifyingCode()" />
        <br />

        <HR class="br"/>
    </div>

    <br />
    <div id="hint" class="hint" style="visibility:hidden; color:rgb(215,13,13);" >验证码已发送到手机, 请填写正确的验证码.</div>



    <div style="margin-top:100pt;" class="buttons">
        <button type="submit" class="button" style="margin-right:130pt">返回</button>
        <button type="submit" class="button">登陆</button>
    </div>

</div>

<div style="display:flex;  margin-top:15%;"><div class="form_footer" >@@</div>重庆市特种设备检查研究院</div>








