@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<style>
    body {
        margin: 0;
        padding: 0;
        color: #666;
        background: #fff;
    }

    .form_login {
        max-width: 640px;
        margin: auto;
        text-align: center;
    }

    .form-group {
        width: 355px;
        margin: 0 auto;
        height: 50px;
        margin-bottom: 5px;
    }

        .form-group .fa {
            display: block;
            width: 50px;
            height: 50px;
            float: left;
        }

        .form-group .form-control {
            display: block;
            width: 300px;
            height: 48px;
            float: left;
            border: 1px solid #ccc;
            padding: 0;
            margin-left: 0;
            text-indent: 2em;
            font-size: large;
        }

            .form-group .form-control:hover {
                border: 1px solid #0160A0;
            }

        .form-group .checkfont {
            color: #666;
        }

        .form-group .btn {
            width: 350px;
            height: 50px;
            background-color: #0160A0;
            border: 0px;
            color: #fff;
            font-size: 14px;
        }

    .fa-user {
        background: url(/Content/Images/pw.png) no-repeat center;
    }

    .fa-key {
        background: url(/Content/Images/pw.png) no-repeat center;
    }

    .form_footer {
        margin-top: 60px;
        font-size: 12px;
        color: #5B809A;
    }

    .button {
        width: 180px;
        height: 60px;
        border: 0;
        background-color: rgb(43,82,151);
        margin-right: 100px;
        margin-left: 100px;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }

    .input{
        border:0;
    }

    
</style>

<script type="text/javascript">
    var sendCode = "发送验证码";
    var sendTime = 0;
    var change;

    function SendIdentifyingCode() {
        if (sendTime>= 60) {
            document.getElementById("send").value = "再次发送";
            window.clearInterval(change);
            document.getElementById("send").style = "float:right; border:0; background:transparent; color:rgb(0,0,0)";
            sendTime = 0;
        } else {
            if (sendTime == 0) {
                change = self.setInterval("SendIdentifyingCode()", 1000);
            }
            document.getElementById("send").value = "再次发送(" + (60 - sendTime) + "s)";
            document.getElementById("send").style = "float:right; border:0; background:transparent; color:rgb(169,169,169)" ;
            sendTime++;

            document.getElementById("hint").style = "display:block"; 
        }
        
    }


</script>

}

<div class="form_login">
    <div style="margin:75pt auto 15pt auto;width:50%;"><img style="width:100%;" src="~/Content/logo.png" /></div>
    <h1 style="color:rgb(43,82,151);">工业锅炉能效在线监测和安全预警平台</h1>

    <div style="padding-top:50pt">
        <span style="float:left">用户名</span>
        <input type="type" name="name" value="" class="input" />
        <button style="float:right; border:0; background:transparent;">注册帐号</button>
        <br />

        <HR />
    </div>

    <div style="padding-top:20pt">
        <span style="float:left;">验证码</span>
        <input name="name" value="" class="input" />
        <input type="button" id="send" style="float:right; border:0; background:transparent; " value="发送验证码" onclick="SendIdentifyingCode()" />
        <br />

        <HR />
    </div>

    <br />
    <div id="hint" style="display:none">验证码已发送到手机, 请填写正确的验证码.</div>



    <div style="margin-top:57pt;" class="buttons">
        <button type="submit" class="button">返回</button>
        <button type="submit" class="button">登陆</button>
    </div>

</div>

<div class="form_footer">@@重庆市特种设备检查研究院</div>








