@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<style>
    html, body {
        height: 100%;
        overflow-y: hidden;
    }

    .form_login {
        width: 100%;
        height: 51%;
        margin: auto;
        position: absolute;
        bottom:0px;
    }

    .text_span {
        color: #0D122F;
        font-size: 4vw;
        text-align: left;
        width: 18%;
        float: left;
        padding: 2pt;
    }

    .input_span {
        text-align: left;
        font-size: 4vw;
        width: 41%;
        padding: 2pt;
    }

    .input {
        border-width: 1.3pt;
        border-style: none none none solid;
        border-color: #2B5297;
        width: 41%;
        font-size: 4vw;
        outline: none;
        padding-left: 3%;
    }

    .button_span {
        float: right;
        font-size: 4vw;
        width: 31%;
        padding: 2pt;
    }

    .button1 {
        width: 100%;
        text-align: right;
        float: right;
        color: #2B5297;
        font-size: 4vw;
        border: none;
        background-color: white;
        outline: none;
    }

    .hr {
        margin: auto;
        width: 100%;
        height: 3%;
        border: none;
        border-top: 0.6vw ridge #2B5297;
    }

    .login {
        width: 100%;
        height: 20%;
    }

    .button2 {
        border: none;
        float: left;
        color: #ffffff;
        width: 24vw;
        height: 10vw;
        font-size: 5vw;
        background-color: #2B5297;
        border-radius: 5pt;
        outline: none;
    }

    .button3 {
        border: none;
        float: right;
        color: #ffffff;
        width: 24vw;
        height: 10vw;
        font-size: 5vw;
        background-color: #2B5297;
        border-radius: 5pt;
        outline: none;
    }

    .footer {
        margin: auto;
        width: 100%;
        height: 10%;
        text-align: center;
        font-size: 4vw;
        padding-top: 10%;
    }

    .errormsg {
        margin: auto;
        width: 100%;
        height: 34%;
        font-size: 3vw;
        text-align: left;
    }

    .iteams {
        width: 82%;
        height: 100%;
        margin: auto;
        padding-top: 4%;
    }

    .iteam {
        width: 100%;
        height: 40%;
    }
</style>

<script type="text/javascript">
    var sendCode = "发送验证码";
    var sendTime = 0;
    var change;

    function SendIdentifyingCode() {
        if (sendTime >= 60) {
            document.getElementById("send").value = "再次发送";
            document.getElementById("send").style.color = "rgb(43,82,151)";
            document.getElementById("send").disabled = "false";
            sendTime = 0;
            window.clearInterval(change);
        } else {
            if (sendTime == 0) {
                change = self.setInterval("SendIdentifyingCode()", 1000);
            }
            document.getElementById("send").value = "再次发送(" + (60 - sendTime) + "s)";
            document.getElementById("send").style.color = "rgb(169,169,169)";
            document.getElementById("send").disabled = "disabled";
            sendTime++;

            document.getElementById("hint").style.visibility = "visible";
        }
    }
    function GoRegisterView() {
        window.location.href = "/MainPage/RegisterView";
    }

    function GoBack() {
        window.location.href = "/MainPage/Login";
    }


</script>

}

<div style="padding-left:8%;padding-right:8%;margin-top:6%;height:46%;"><img style="width:100%;" src="~/Content/Images/biglogo.png" /></div>

<div class="form_login">
    <div class="login">
        <div class="iteams">
            <div class="iteam">
                <span class="text_span">用户名</span>
                <span class="input_span"><input name="name" value="" class="input" /></span>
                <span class="button_span"><input class="button1" type="button" value="注册账号" onclick="GoRegisterView()" /></span>
            </div>
            <hr class="hr" />
        </div>
    </div>

    <div class="login">
        <div class="iteams">
            <div class="iteam">
                <span class="text_span">验证码</span>
                <span class="input_span"><input name="name" value="" class="input" /></span>
                <span class="button_span"><input type="button" class="button1" id="send" value="发送验证码" onclick="SendIdentifyingCode()" /></span>
            </div>
            <hr class="hr" />
            <div id="hint" class="errormsg" style="font-size:3vw; visibility:hidden; color:rgb(215,13,13);">验证码已发送到手机, 请填写正确的验证码.</div>
        </div>
    </div>

    <div style="width:82%;height:16%;padding-top:8%;margin:auto;">
        <div style="width:100%; margin:auto">
            <button class="button2" type="button" onclick="GoBack()">返回</button>
            <button class="button3" type="button">登录</button>
        </div>
    </div>
    <div class="footer">@@ 重庆市特种设备检测研究院</div>
</div>









