@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<style>
    body {
        margin: 0;
        padding: 0;
        color: #666;
        background: #fff;
    }

    .form_login {
        max-width: 640px;
        margin: auto;
        text-align: center;
    }

    .form-group {
        width: 355px;
        margin: 0 auto;
        height: 50px;
        margin-bottom: 5px;
    }

        .form-group .fa {
            display: block;
            width: 50px;
            height: 50px;
            float: left;
        }

        .form-group .form-control {
            display: block;
            width: 300px;
            height: 48px;
            float: left;
            border: 1px solid #ccc;
            padding: 0;
            margin-left: 0;
            text-indent: 2em;
            font-size: large;
        }

            .form-group .form-control:hover {
                border: 1px solid #0160A0;
            }

        .form-group .checkfont {
            color: #666;
        }

        .form-group .btn {
            width: 350px;
            height: 50px;
            background-color: #0160A0;
            border: 0px;
            color: #fff;
            font-size: 14px;
        }

    .fa-user {
        background: url(/Content/Images/pw.png) no-repeat center;
    }

    .fa-key {
        background: url(/Content/Images/pw.png) no-repeat center;
    }

    .form_footer {
        margin-top: 60px;
        font-size: 12px;
        color: #5B809A;
    }

    .button {
        width: 180px;
        height: 60px;
        border: 0;
        background-color: rgb(235,235,235);
        margin-right: 100px;
        margin-left: 100px;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }
</style>

}

<div class="form_login">
    <div style="margin:75pt auto 15pt auto;width:50%;"><img style="width:100%;" src="~/Content/logo.png" /></div>
    <h1 style="color:rgb(43,82,151);">工业锅炉能效在线监测和安全预警平台</h1>


    @using (Html.BeginForm("LoginCheck", "MainPage", FormMethod.Post))
    {
    <div class="form-group">
        <i class="fa fa-user"></i>
      
    </div>

    <div class="form-group">
        <i class="fa fa-key"></i>
      

    </div>


    <div class="form-group" style="height:50px; line-height:25px; text-align:left;">
        <input type="checkbox" class="" name="checkbox" id="checkbox" placeholder="checkbox" autocomplete="off">
        <span class="checkfont">记住我的帐号</span>
    </div>
    <div>
        <p style="display:block;float:left; height:30px;width:100px;margin-left:10px;background-color:#0160A0;color:white;margin-bottom:30px;" onclick="GoForgetPassword()">
            忘记密码
        </p>
        <input type="password" style="height:26px;" name="password" id="passverify" placeholder="短信验证码" autocomplete="off">
    </div>

    <div style="margin-top:57pt;" class="buttons">
        <button type="submit" class="button">返回</button>
        <button type="submit" class="button">登陆</button>
    </div>
    }
</div>

<div class="form_footer">@@重庆市特种设备检查研究院</div>

<script type="text/javascript">

    function GoForgetPassword() {
        window.location.href = "/MainPage/ForgetPassword";
    }
</script>





