﻿
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";

    string aa = ViewBag.ErrorMsg.ToString();
    bool LoginError = false;
    if (aa.Contains("错误"))
    {
        LoginError = true;
    }
    string CookiesUserName = "";
    string CookiesPassWord = "";
    if (Request.Cookies["UserName"] != null && Request.Cookies["PassWord"] != null && LoginError == false)
    {
        CookiesUserName = System.Web.HttpContext.Current.Server.UrlDecode(Request.Cookies["UserName"].Value);
        CookiesPassWord = System.Web.HttpContext.Current.Server.UrlDecode(Request.Cookies["PassWord"].Value);
    }


}
@section head{
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
        }
    </style>
    <script type="text/javascript">
        var result = false;
        function checkbox() {
            if (result == true) {
                document.getElementById("img").src = "../Content/Images/remembernotchecked.png";
                result = false;
            }
            else if (result == false) {
                document.getElementById("img").src = "../Content/Images/rememberchecked.png";
                result = true;
            }
        }</script>
}
<div style="padding-left:8%;padding-right:8%"><img style="width:100%;" src="~/Content/Images/biglogo.png" /></div>
<div style="width:100%;">
    <form action="LoginCheck" method="post" style="width:100%; bottom:5%;position:absolute;">
        <div style="margin:auto; width:100%; padding-top:4%">
            <div style="text-align:center; width:80%; height:20pt; margin:auto">
                <div style="margin:0 8px">
                    <span style="color:#0D122F; font-size:4vw; text-align:left;width:20%;height:8%; float:left">用户名</span>
                    <input type="text" name="username" id="username" value="@CookiesUserName" autocomplete="off" style="float:left; width:55%;font-size:4vw;border:0px;outline:none;padding:2pt" />
                    <input type="button" value="注册账号" style="float:right; color:#2B5297; font-size:4vw; border:0; background-color:white" />
                </div>
                <hr id="hr1" style="margin:auto; width:98%;height:3px;border:none;border-top:3px ridge #2B5297" />
                @if (LoginError)
                {
                    <p style="font-size:3vw;color:red;text-align:left">@ViewBag.ErrorMsg</p>
                    <script type="text/javascript">
                        document.getElementById("hr1").style = "margin:auto; width:98%;height:3px;border:none;border-top:3px ridge red";
                    </script>
                }
            </div>
        </div>
        <div style="margin:auto; width:100%; padding-top:10%">
            <div style="text-align:center; width:80%; margin:auto">
                <div style="margin:0 8px">
                    <span style="color:#0D122F; font-size:4vw; text-align:left;width:20%; float:left">密码</span>
                    <input type="password" name="password" id="password" value="@CookiesPassWord" autocomplete="off" style="float:left; width:30%; font-size:4vw;border:0px;outline:none;padding:2pt" />
                    <input type="button" value="忘记密码" style="float:right; color:#2B5297; font-size:4vw; border:0; background-color:white" />
                </div>
                <hr id="hr2" style="margin:auto; width:98%;height:3px;border:none;border-top:3px ridge #2B5297;" />
                @if (LoginError)
                {
                    <p style="font-size:3vw;color:red;text-align:left">@ViewBag.ErrorMsg</p>
                    <script type="text/javascript">
                        document.getElementById("hr2").style = "margin:auto; width:98%;height:3px;border:none;border-top:3px ridge red";
                    </script>
                }
            </div>
        </div>


        <div style="text-align:left;padding-left:11%; padding-top:2%">
            <input style="width:16pt; height:16pt; display:none" type="checkbox" class="checkbox" name="checkbox" id="checkbox" placeholder="checkbox" autocomplete="off">
            <label onclick="checkbox()" for="checkbox" style="display:inline-block; width:3vw; height:3vw;"><img id="img" src="~/Content/Images/remembernotchecked.png" style="width:100%; height:100%" /></label>
            <span style="margin:auto; font-size:4vw;color:#2B5297;font-weight:500">记住我的帐号</span>
        </div>
        <div style="margin:auto; width:30vw; height:14vw; padding-top:2%">
            <button type="submit" style="color:#ffffff; width:30vw; height:14vw; font-size:6vw;background-color:#2B5297;border-radius:5pt">登录</button>
        </div>
        <div style="margin:auto; width:100%; text-align:center; font-size:4vw; padding-top:2%">@@ 重庆市特种设备检测研究院</div>
    </form>
</div>

