﻿
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";

    string aa = ViewBag.ErrorMsg.ToString();
    bool LoginError = false;
    if (aa.Contains("错误"))
    {
        LoginError = true;
    }
    string CookiesUserName = "";
    string CookiesPassWord = "";
    if (Request.Cookies["UserName"] != null && Request.Cookies["PassWord"] != null && LoginError == false)
    {
        CookiesUserName = System.Web.HttpContext.Current.Server.UrlDecode(Request.Cookies["UserName"].Value);
        CookiesPassWord = System.Web.HttpContext.Current.Server.UrlDecode(Request.Cookies["PassWord"].Value);
    }


}
@section head{
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        html, body {
            height: 100%;
            overflow-y: hidden;
        }

        .form {
            width: 100%;
            height: 48%;
            bottom: 1%;
            position: absolute;
        }

        .iteams {
            width: 100%;
            height: 22%;
            padding-top: 2pt;
        }

        .iteam {
            width: 100%;
            height: 100%;
            margin: auto;
        }

        .above {
            width: 82%;
            height: 44%;
            margin: auto;
        }

        .text_span {
            color: #0D122F;
            font-size: 4vw;
            text-align: left;
            width: 20%;
            float: left;
            padding: 2pt;
        }

        .input_span {
            text-align: left;
            font-size: 4vw;
            width: 50%;
            padding: 2pt;
        }

        .input {
            border-width: 1.3pt;
            border-style: none none none solid;
            border-color: #2B5297;
            width: 50%;
            font-size: 4vw;
            outline: none;
            padding-left: 3%;
        }

        .hr {
            margin: auto;
            width: 82%;
            height: 3%;
            border: none;
            border-top: 0.6vw ridge #2B5297;
        }

        .errormsg {
            margin: auto;
            width: 82%;
            height: 34%;
            font-size: 3vw;
            color: red;
            text-align: left;
        }

        .errorimg {
            width: 100%;
            height: 100%
        }

        .button_span {
            float: right;
            font-size: 4vw;
            width: 20%;
            padding: 2pt;
        }

        .button1 {
            width: 100%;
            text-align: right;
            float: right;
            color: #2B5297;
            font-size: 4vw;
            border: none;
            background-color: white;
            outline:none;
        }

        .label {
            display: inline-block;
            width: 3vw;
            height: 3vw;
        }

        .button2 {
            border: none;
            color: #ffffff;
            width: 24vw;
            height: 10vw;
            font-size: 6vw;
            background-color: #2B5297;
            border-radius: 5pt;
            outline: none;
            display:block;
            margin:0 auto;
        }

        .footer {
            margin: auto;
            width: 100%;
            height: 10%;
            text-align: center;
            font-size: 4vw;
            padding-top: 2%;
        }
    </style>
    <script type="text/javascript">
        var result = false;
        function checkbox() {
            if (result == true) {
                document.getElementById("img").src = "../Content/Images/remembernotchecked.png";
                result = false;
            }
            else if (result == false) {
                document.getElementById("img").src = "../Content/Images/rememberchecked.png";
                result = true;
            }
        }
        function GoForgetPassword() {
            window.location.href = "/MainPage/ForgetPasswordView";
        }
        function GoRegisterView() {
            window.location.href = "/MainPage/RegisterView";
        }

    </script>
}
<div style="padding-left:8%;padding-right:8%;margin-top:2%"><img style="width:100%;" src="~/Content/Images/biglogo.png" /></div>
<div style="width:100%;height:100%">
    <form class="form" action="LoginCheck" method="post">
        <div class="iteams">
            <div class="iteam">
                <div class="above">
                    <span class="text_span">用户名</span>
                    <span class="input_span"><input name="username" id="username" value="@CookiesUserName" class="input" type="text" autocomplete="off" /></span>
                    <span class="button_span"><input class="button1" type="button" value="注册账号" onclick="GoRegisterView()" /></span>
                </div>
                <hr id="hr1" class="hr" />
                @if (LoginError)
                {
                    <div class="errormsg">
                        <span style="float:left">@ViewBag.ErrorMsg</span>
                        <span style="float:right;width:4vw;height:4vw"><img class="errorimg" src="~/Content/Images/worning.png" /></span>
                    </div>
                    <script type="text/javascript">
                        document.getElementById("hr1").style = "margin:auto;width:82%;height:3%;border:none;border-top:0.6vw ridge red";
                        document.getElementById("username").style = "border-width:1.3pt;border-style:none none none solid;border-color:red;width:50%;font-size:4vw;outline:none;padding-left:3%";
                    </script>
                }
            </div>
        </div>
        <div class="iteams">
            <div class="iteam">
                <div class="above">
                    <span class="text_span">密码</span>
                    <span class="input_span"><input name="password" id="password" value="@CookiesPassWord" class="input" type="password" autocomplete="off" /></span>
                    <span class="button_span"><input class="button1" type="button" value="忘记密码" onclick="GoForgetPassword()" /></span>
                </div>
                <hr id="hr2" class="hr" />
                @if (LoginError)
                {
                    <div class="errormsg">
                        <span style="float:left">@ViewBag.ErrorMsg</span>
                        <span style="float:right;width:4vw;height:4vw"><img class="errorimg" src="~/Content/Images/worning.png" /></span>
                    </div>
                    <script type="text/javascript">
                        document.getElementById("hr2").style = "margin:auto;width:82%;height:3%;border:none;border-top:0.6vw ridge red";
                        document.getElementById("password").style = "border-width:1.3pt;border-style:none none none solid;border-color:red;width:50%;font-size:4vw;outline:none;padding-left:3%";
                    </script>
                }
            </div>
        </div>


        <div style="text-align:left;padding-left:9%;height:12%; padding-top:1%">
            <input style="width:16pt; height:16pt; display:none" type="checkbox" class="checkbox" name="checkbox" id="checkbox" placeholder="checkbox" autocomplete="off">
            <label class="label" onclick="checkbox()" for="checkbox"><img id="img" src="~/Content/Images/remembernotchecked.png" style="width:100%; height:100%" /></label>
            <span style="margin:auto; font-size:4vw;color:#2B5297;font-weight:500">记住我的帐号</span>
        </div>
        <div style="margin:auto; width:100%;">
            <button class="weui-btn weui-btn_warn " style="background-color:#2B5297;width:30%;" type="submit">登录</button>
        </div>
        <div class="footer">@@ 重庆市特种设备检测研究院</div>
    </form>
</div>

