@{
    ViewBag.Title = "总体概况";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

@section head{
<link rel="stylesheet" href="~/Content/WeChat.css?@DateTime.Now.ToString(" yyyy-MM-dd_HH:mm:ss");" />
<link rel="stylesheet" href="~/Content/PageTransitions/dist/css/animsition.min.css" />
<script src="~/Content/PageTransitions/dist/js/jquery.animsition.min.js"></script>
<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>
}

@*
<div style="position:relative;width:100%;height:92px">

    <div id="fallbackLogin" style="margin-left:12pt;width:100pt;float:left;margin-top:20px" onclick="GoBack()">
        <img style="width:20pt;height:auto;" src="~/Content/Images/back.png" />
        <span style="font-size:18pt;color:#6781AF;">返回</span>
    </div>


    <div id="fallbackMain" style="margin-left:12pt;width:100pt;float:left;margin-top:20px;display:none" onclick="GoBackMain()">
        <img style="width:20pt;height:auto;" src="~/Content/Images/back.png" />
        <span style="font-size:18pt;color:#6781AF;">返回</span>
    </div>


    <div id="naturalfallbackMain" style="margin-left:12pt;width:100pt;float:left;margin-top:20px;display:none" onclick="naturalGoBackMain()">
        <img style="width:20pt;height:auto;" src="~/Content/Images/back.png" />
        <span style="font-size:18pt;color:#6781AF;">返回</span>
    </div>


    <div id="fuelfallbackMain" style="margin-left:12pt;width:100pt;float:left;margin-top:20px;display:none" onclick="fuelGoBackMain()">
        <img style="width:20pt;height:auto;" src="~/Content/Images/back.png" />
        <span style="font-size:18pt;color:#6781AF;">返回</span>
    </div>


    <div id="coalfallbackMain" style="margin-left:12pt;width:100pt;float:left;margin-top:20px;display:none" onclick="coalGoBackMain()">
        <img style="width:20pt;height:auto;" src="~/Content/Images/back.png" />
        <span style="font-size:18pt;color:#6781AF;">返回</span>
    </div>


    <div id="biomassBurningfallbackMain" style="margin-left:12pt;width:100pt;float:left;margin-top:20px;display:none" onclick="biomassBurningGoBackMain()">
        <img style="width:20pt;height:auto;" src="~/Content/Images/back.png" />
        <span style="font-size:18pt;color:#6781AF;">返回</span>
    </div>


    <div id="previewWarningfallbackMain" style="margin-left:12pt;width:100pt;float:left;margin-top:20px;display:none" onclick="previewWarningfallbackMain()">
        <img style="width:20pt;height:auto;" src="~/Content/Images/back.png" />
        <span style="font-size:18pt;color:#6781AF;">返回</span>
    </div>


    <div style="float:left;width:120px;line-height:46px;text-align:center">X</div>
    <div class="weui-search-bar" style="float:left;width:35%;">

        <div class="weui-search-bar__box" style="height:30px;text-align:center;background-color:white;" onclick="ShowSearch()">
            <label style="text-align:center;"><span class="weui-icon-search"></span>搜索</label>
        </div>
    </div>


    <div style="margin-right:12pt;float:right">
        <img src="~/Content/Images/smalllogo.png" />
    </div>

    <div style="margin-right:2%;margin-top:30px;float:right">
        <span style="font-size:14pt;color:#5D78A9;">用户名</span>
    </div>




    <div style="position:absolute;right:0;height:46px;width:40px;text-align:center;line-height:46px;background-color:aquamarine;" onclick="GoBack()">
        返回
    </div>

</div>

<div style="width:100%;">
    <div id="weui-search-bar" style="border:2px solid #294B8C;height:36pt;margin-top:10pt;margin-left:auto;margin-right:auto;width:90%;border-radius:25px;" onclick="ShowSearch()">
        <label style="color:#294B8C;margin-left:20px;margin-top:5px;font-size:30px">请输入关键词</label>
        <div style="width:20%;border:1px solid #294B8C;height:100%;border-radius:0px 25px 25px 0px;float:right;background-color:#294B8C">
            <img src="~/Content/Images/search2.png" style="margin-left:30px;margin-top:7px" />
        </div>
    </div>
</div>
<script type="text/javascript">
    function ShowSearch() {
        $("#SearchPad").css("display", "block");
        //$(".weui-search-bar").css("display", "none");
        $("#weui-search-bar").css("visibility", "hidden");

        $("#fallbackLogin").css("display", "none");
        $("#naturalfallbackMain").css("display", "none");
        $("#fuelfallbackMain").css("display", "none");
        $("#coalfallbackMain").css("display", "none");
        $("#biomassBurningfallbackMain").css("display", "none");
        $("#previewWarningfallbackMain").css("display", "none");
        $("#fallbackMain").css("display", "block");
    }

    function GoBack() {
        window.location.href = "/MainPage/login";
    }

    function GoBackMain() {
        $("#SearchPad").css("display", "none");
        $("#weui-search-bar").css("visibility", "visible");
        $("#fallbackLogin").css("display", "block");
        $("#fallbackMain").css("display", "none");
        $("#naturalGas").css("display", "none");
        $("#fuel").css("display", "none");
        $("#coal").css("display", "none");
        $("#biomassBurning").css("display", "none");
        $("#previewWarningHead").css("display", "none");
        $("#DataContent").css("display", "none");
        $("#monitor").css("display", "block");
        $("#previewWarning").css("display", "block");
    }

    function cancelSearch() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }

    function Search() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }
</script>
*@
<div style="position:relative;margin-bottom:52pt;">
    <div style="height:50pt;">
        <div style="font-size:18pt;color:#19479d;float:left;margin-top:15pt;margin-left: 12pt;" onclick="GoBack()"><img src="../../Content/Images/back.png" style="width:20pt" /><span style="position: relative;bottom: 4pt;">返回</span></div>
        <div style="float:right;margin-top: 6pt;margin-right: 12pt;"><img src="../../Content/Images/smalllogo.png" style="width:39pt;" /></div>
        <div style="color:#19479d;font-size:14pt;float:right;padding-top:16pt;">用户名&emsp;</div>
    </div>
    <div style="padding:0 12pt;" onclick="ShowSearch()">
        <div style="width:87%;"><input type="text" style="float: left;color:#19479d;width: 94%;height: 40pt;border-bottom-left-radius: 25pt;border-top-left-radius: 25pt;border: 1px solid #19479d;font-size: 16pt;outline: none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;" placeholder="&emsp;请输入关键字" /></div>
        <div style="float:left;height: 40pt;background: #19479d;width: 18%;top: 0pt;border-bottom-right-radius: 25pt;border-top-right-radius: 25pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-align: center;padding: 8pt"><img src="../../Content/Images/search2.png" /></div>
    </div>
</div>

<script type="text/javascript">
    function ShowSearch() {
        $("#SearchPad").css("display", "block");
        $(".weui-search-bar").css("display", "none");
    }

    function GoBack() {
        window.location.href = "/MainPage/Login";
    }

    function cancelSearch() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }

    function Search() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }
</script>

<div id="SearchPad" style="display:none;position:absolute;height:100%;width:100%;background-color:white;z-index:5;">

    @*<div style="height:40px;float:left;width:20%;background-color:cornflowerblue;">
        <p style="text-align:center;font-size:16px;line-height:40px;" onclick="cancelSearch()">返回</p>
    </div>

    <div style="height:40px;float:left;width:60%;">
        <p style="text-align:center;font-size:16px;line-height:40px;">搜索选项列表</p>
    </div>
    <div style="height:40px;float:left;width:20%;background-color:cornflowerblue;">
        <p style="text-align:center;font-size:16px;line-height:40px;" onclick="Search()">确定</p>
    </div>*@

    @*<div class="weui-cells__title" style="clear:both;">时间区间选择</div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="time-format" class="weui-label">起始时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="timestart" type="text" value="2017-01-01 12:00">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="time-format" class="weui-label">结束时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="timeend" type="text" value="2017-01-01 12:00">
        </div>
    </div>*@
    <div style="clear:both;margin-left:12pt;margin-right:12pt;">
        <div style="width:20%;font-size:18pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">时间</div>
        <div style="width:35%;height:24pt;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box"><input id="timestart" type="text" value="2017-01-01 12:00" style="width:100%;height:100%;border:1px solid black"></div>
        <div style="width:15pt;height:24pt;font-size:14pt;float:left;line-height:24pt;color:blue;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">至</div>
        <div style="width:35%;height:24pt;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box"><input id="timeend" type="text" value="2017-01-01 12:00" style="width:100%;height:100%;border:1px solid black"></div>
    </div>



    @*<div class="weui-cells__title" style="clear:both;">吨位</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入吨位，默认为全部">
            </div>
        </div>
    </div>*@

    <div style="clear:both;height:5%;"></div>

    <div style="clear:both;margin-left:12pt;margin-right:12pt;">
        <div style="width:20%;font-size:18pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">吨位</div>
        <div style="width:5%;height:24pt;font-size:14pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">0</div>
        <div style="width:70%;font-size:18pt;float:left;line-height:24pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box"><hr style="" /></div>
    </div>

    <div class="weui-cells__title" style="clear:both;">效率区间值（默认为全部）</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <input class="weui-input" type="number" placeholder="最小值">
            </div>
            <div class="weui-cell__hd">
                <input class="weui-input" type="number" placeholder="最大值">
            </div>
        </div>
    </div>

    <div class="weui-cells__title" style="clear:both;">区域</div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="time-format" class="weui-label">区域选择</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="SearchLocat" type="text" readonly placeholder="默认为全部" value="重庆市" onclick="SearchLocatFunc()">
        </div>
    </div>
    <div class="weui-cells__title" style="clear:both;">制造单位</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="默认为全部">
            </div>
        </div>
    </div>
    <div class="weui-cells__title" style="clear:both;">使用单位</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="默认为全部">
            </div>
        </div>
    </div>
</div>

@*<div class="menu">
    <img alt="德器物联" src="~/Content/Images/toplogo.png" />
</div>*@

@*
<div style="height:24pt;"></div>
*@

@*
<div style="width:90%;height:auto;border-top-style:solid;border-top-width:1px;margin-left:auto;margin-right:auto">
    <div style="margin-left:10%;height:40px;float:left;width:100%;text-align:center">
        <p style="text-align:center;font-size:16px;">工业锅炉能效在线监测平台</p>
    </div>

    <div style="height:40px;float:left;width:20%;background-color:cadetblue;" onclick="ShowSearch()">
        <p style="text-align:center;font-size:16px;line-height:40px;" id="EffiLocat">重庆市</p>
    </div>

    <a href="TRQEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;">
            <div style="float:left;height:50px;width:35%">
                <p style="text-align:center;line-height:50px;">天然气</p>
            </div>
            <div style="float:left;height:50px;width:30%">
                <p style="text-align:center;line-height:50px;">88%</p>
            </div>
            <div style="float:left;height:50px;width:30%">
                <p style="text-align:center;line-height:50px;">50台次</p>
            </div>
        </div>
    </a>
    <a href="RYEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;">
            <div style="float:left;height:50px;width:35%">
                <p style="text-align:center;line-height:50px;">燃油</p>
            </div>
            <div style="float:left;height:50px;width:30%">
                <p style="text-align:center;line-height:50px;">88%</p>
            </div>
            <div style="float:left;height:50px;width:30%">
                <p style="text-align:center;line-height:50px;">40台次</p>
            </div>
        </div>
    </a>
    <a href="RMEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;">
            <div style="float:left;height:50px;width:35%">
                <p style="text-align:center;line-height:50px;">燃煤</p>
            </div>
            <div style="float:left;height:50px;width:30%">
                <p style="text-align:center;line-height:50px;">88%</p>
            </div>
            <div style="float:left;height:50px;width:30%">
                <p style="text-align:center;line-height:50px;">30台次</p>
            </div>
        </div>
    </a>
    <a href="RSWZEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;">
            <div style="float:left;height:50px;width:35%">
                <p style="text-align:center;line-height:50px;">燃生物质</p>
            </div>
            <div style="float:left;height:50px;width:30%">
                <p style="text-align:center;line-height:50px;">88%</p>
            </div>
            <div style="float:left;height:50px;width:30%">
                <p style="text-align:center;line-height:50px;">20台次</p>
            </div>
        </div>
    </a>
</div>
*@
@*from zhangzimiao*@
<div style="height:auto;margin:12pt;font-size:14pt;">
    <div style="height:40pt;float:left;width:100%;background-color:#19479d">
        <p style="text-align:center;color:white;line-height:55px;">工业锅炉能效在线监测平台</p>
    </div>
    @*<div style="height:40px;float:left;width:20%;background-color:cadetblue;" onclick="ShowSearch()">
        <p style="text-align:center;font-size:16px;line-height:40px;" id="EffiLocat">重庆市</p>
    </div>*@
    <a href="TRQEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height:40pt;color:white;background-color:#19479d;">
            <div style="float:left;height:40pt;width:34%;border: 1px solid white;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">燃料种类</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid white;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">平均效率</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid white;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">监测台次</p>
            </div>
        </div>
    </a>
    <a href="TRQEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height:40pt;">
            <div style="float:left;height:40pt;width:34%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">天然气</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">88%</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">50台次</p>
            </div>
        </div>
    </a>
    <a href="RYEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height:40pt;">
            <div style="float:left;height:40pt;width:34%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">燃油</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">88%</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">40台次</p>
            </div>
        </div>
    </a>
    <a href="RMEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height: 40pt;">
            <div style="float:left;height:40pt;width:34%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">燃煤</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">88%</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">30台次</p>
            </div>
        </div>
    </a>
    <a href="RSWZEfficiencyView" class="animsition-link" data-animsition-out="fade-out-left-lg" data-animsition-out-duration="800">
        <div style="clear:both;height: 40pt;">
            <div style="float:left;height:40pt;width:34%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">燃生物质</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">88%</p>
            </div>
            <div style="float:left;height:40pt;width:33%;border: 1px solid #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                <p style="text-align:center;line-height:50px;">20台次</p>
            </div>
        </div>
    </a>
</div>

@*
<div id="monitor" style="width:100%;">
    <table style="margin-left:auto;margin-right:auto;width:90%;font-size:14pt;">
        <tr>
            <td colspan="3" style="height:40pt;background:#19479D;font-size:14pt;color:#F1F4F9;text-align:center;line-height:55px">
                工业锅炉能效在线监测平台
            </td>
        </tr>
        <tr style="height:44pt;background:#19479D;color:#F1F4F9;text-align:center">
            <td style="width:33%;">燃料总类</td>
            <td style="width:33%;">平均效率</td>
            <td style="width:33%;">监测台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center;" onclick="naturalGas()">
            <td style="width:33%;border:1px solid #19479D">天然气</td>
            <td style="width:33%;border:1px solid #19479D">88%</td>
            <td style="width:33%;border:1px solid #19479D">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center;" onclick="fuel()">
            <td style="width:33%;border:1px solid #19479D">燃油</td>
            <td style="width:33%;border:1px solid #19479D">88%</td>
            <td style="width:33%;border:1px solid #19479D">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center;" onclick="coal()">
            <td style="width:33%;border:1px solid #19479D">燃煤</td>
            <td style="width:33%;border:1px solid #19479D">88%</td>
            <td style="width:33%;border:1px solid #19479D">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center;" onclick="biomassBurning()">
            <td style="width:33%;border:1px solid #19479D">燃生物质</td>
            <td style="width:33%;border:1px solid #19479D">88%</td>
            <td style="width:33%;border:1px solid #19479D">50台次</td>
        </tr>
    </table>
</div>
*@

<div style="height:24pt;clear:both;"></div>


<div style="height:auto;margin:12pt;font-size:14pt;">
    <div style="height:40pt;float:left;width:100%;background:#C53840">
        <p style="text-align:center;color:white;line-height:55px;">工业锅炉运行安全预警平台</p>
    </div>
    @*
    <div style="height:40px;float:left;width:20%;background-color:cadetblue;" onclick="ShowSearch()">
        <p style="text-align:center;font-size:16px;line-height:40px;" id="WarningTSpan">1周</p>
    </div>
    *@
    <div style="clear:both;height:180px;width:100%;background-color:transparent;" onclick="WarningView()">
        <div style="width:50%;height:inherit;float:left;">
            <p style="line-height:inherit;text-align:center;font-size:18px;background:#C53840;height:40pt;line-height:50px;color:white">压力预警</p>
            <div style="clear:both;height:50px;width:100%;">
                <div style="width:50%;height:40pt;float:left;">
                    <p style="line-height:55px;text-align:center;font-size:16px;color:#C53840;border:1px solid #C53840;">预警级别</p>
                </div>
                <div style="width:50%;height:inherit;float:left;">
                    <p style="line-height:55px;text-align:center;font-size:16px;color:#C53840;border:1px solid #C53840;">预警次数</p>
                </div>
            </div>
            <div style="clear:both;height:50px;width:100%;margin-top:7px">
                <div style="width:50%;height:inherit;float:left;">
                    <p style="line-height:55px;text-align:center;font-size:16px;border:1px solid #C53840;">高压预警</p>
                </div>
                <div style="width:50%;height:inherit;float:left;">
                    <p style="line-height:55px;text-align:center;font-size:16px;border:1px solid #C53840;">2000次</p>
                </div>
            </div>
            @*
            <div style="clear:both;height:50px;width:100%;">
                <div style="width:30%;height:inherit;float:left;">
                    <p style="line-height:inherit;text-align:center;font-size:16px">临界值</p>
                </div>
                <div style="width:70%;height:inherit;float:left;">
                    <p style="line-height:inherit;text-align:center;font-size:16px">20次</p>
                </div>
            </div>
            *@
        </div>
        <div style="width:49.8%;height:inherit;float:right;" onclick="WarningView()">
            <p style="line-height:inherit;text-align:center;font-size:18px;background:#C53840;height:40pt;line-height:50px;color:white">温度报警</p>
            <div style="clear:both;height:50px;width:100%;">
                <div style="width:50%;height:inherit;float:left;">
                    <p style="line-height:55px;text-align:center;font-size:16px;color:#C53840;border:1px solid #C53840;">预警级别</p>
                </div>
                <div style="width:50%;height:inherit;float:left;">
                    <p style="line-height:55px;text-align:center;font-size:16px;color:#C53840;border:1px solid #C53840;">预警次数</p>
                </div>
            </div>
            <div style="clear:both;height:50px;width:100%;margin-top:7px">
                <div style="width:50%;height:inherit;float:left;">
                    <p style="line-height:55px;text-align:center;font-size:16px;border:1px solid #C53840;">高温预警</p>
                </div>
                <div style="width:50%;height:inherit;float:left;">
                    <p style="line-height:55px;text-align:center;font-size:16px;border:1px solid #C53840;">2000次</p>
                </div>
            </div>

        </div>
    </div>
</div>


@*
<div id="previewWarning" style="width:100%;">
    <table style="margin-left:auto;margin-right:auto;width:90%;font-size:14pt;">
        <tr>
            <td colspan="4" style="height:44pt;background:#C53840;color:#F1F4F9;text-align:center">
                工业锅炉运行安全预警平台
            </td>
        </tr>
        <tr style="height:44pt;background:#C53840;color:#F1F4F9;text-align:center">
            <td colspan="2" style="width:50%;" onclick="showPressure()">压力预警</td>
            <td colspan="2" style="width:50%;" onclick="showTemperature()">温度预警</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center">
            <td style="width:25%;border:1px solid #C53840" onclick="showPressure()">预警级别</td>
            <td style="width:25%;border:1px solid #C53840" onclick="showPressure()">预警次数</td>
            <td style="width:25%;border:1px solid #C53840" onclick="showTemperature()">预警级别</td>
            <td style="width:25%;border:1px solid #C53840" onclick="showTemperature()">预警次数</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center">
            <td style="width:25%;border:1px solid #C53840" onclick="showPressure()">高压预警</td>
            <td style="width:25%;border:1px solid #C53840" onclick="showPressure()">2000次</td>
            <td style="width:25%;border:1px solid #C53840" onclick="showTemperature()">高温预警</td>
            <td style="width:25%;border:1px solid #C53840" onclick="showTemperature()">2000次</td>
        </tr>
    </table>
</div>
*@

@*天然气相关*@
<div id="naturalGas" style="width:100%;height:324pt;display:none">
    <table style="margin-left:auto;margin-right:auto;width:90%;border:1px solid green;">
        <tr>
            <td colspan="3" style="height:44pt;background:#178B8C;font-size:14pt;color:#F1F4F9;text-align:center">
                天然气锅炉效率
            </td>
        </tr>
        <tr style="height:44pt;background:#178B8C;color:#F1F4F9;text-align:center">
            <td style="width:33%;">燃料总类</td>
            <td style="width:33%;">平均效率</td>
            <td style="width:33%;">监测台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #178B8C">A厂</td>
            <td style="width:33%;border:1px solid #178B8C">88%</td>
            <td style="width:33%;border:1px solid #178B8C">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #178B8C">B厂</td>
            <td style="width:33%;border:1px solid #178B8C">88%</td>
            <td style="width:33%;border:1px solid #178B8C">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #178B8C">C厂</td>
            <td style="width:33%;border:1px solid #178B8C">88%</td>
            <td style="width:33%;border:1px solid #178B8C">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #178B8C">D厂</td>
            <td style="width:33%;border:1px solid #178B8C">88%</td>
            <td style="width:33%;border:1px solid #178B8C">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #178B8C">E厂</td>
            <td style="width:33%;border:1px solid #178B8C">88%</td>
            <td style="width:33%;border:1px solid #178B8C">50台次</td>
        </tr>
    </table>
</div>

@*燃油相关*@
<div id="fuel" style="width:100%;height:324pt;display:none">
    <table style="margin-left:auto;margin-right:auto;width:90%;border:1px solid green;">
        <tr>
            <td colspan="3" style="height:44pt;background:#11696C;font-size:14pt;color:#F1F4F9;text-align:center">
                燃油锅炉效率
            </td>
        </tr>
        <tr style="height:44pt;background:#11696C;color:#F1F4F9;text-align:center">
            <td style="width:33%;">燃料总类</td>
            <td style="width:33%;">平均效率</td>
            <td style="width:33%;">监测台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #11696C">A厂</td>
            <td style="width:33%;border:1px solid #11696C">88%</td>
            <td style="width:33%;border:1px solid #11696C">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #11696C">B厂</td>
            <td style="width:33%;border:1px solid #11696C">88%</td>
            <td style="width:33%;border:1px solid #11696C">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #11696C">C厂</td>
            <td style="width:33%;border:1px solid #11696C">88%</td>
            <td style="width:33%;border:1px solid #11696C">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #11696C">D厂</td>
            <td style="width:33%;border:1px solid #11696C">88%</td>
            <td style="width:33%;border:1px solid #11696C">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #11696C">E厂</td>
            <td style="width:33%;border:1px solid #11696C">88%</td>
            <td style="width:33%;border:1px solid #11696C">50台次</td>
        </tr>
    </table>
</div>

@*燃煤锅炉效率*@
<div id="coal" style="width:100%;height:324pt;display:none">
    <table style="margin-left:auto;margin-right:auto;width:90%;border:1px solid #0E5A8B;">
        <tr>
            <td colspan="3" style="height:44pt;background:#0E5A8B;font-size:14pt;color:#F1F4F9;text-align:center">
                燃煤锅炉效率
            </td>
        </tr>
        <tr style="height:44pt;background:#0E5A8B;color:#F1F4F9;text-align:center">
            <td style="width:33%;">燃料总类</td>
            <td style="width:33%;">平均效率</td>
            <td style="width:33%;">监测台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #0E5A8B">A厂</td>
            <td style="width:33%;border:1px solid #0E5A8B">88%</td>
            <td style="width:33%;border:1px solid #0E5A8B">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #0E5A8B">B厂</td>
            <td style="width:33%;border:1px solid #0E5A8B">88%</td>
            <td style="width:33%;border:1px solid #0E5A8B">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #0E5A8B">C厂</td>
            <td style="width:33%;border:1px solid #0E5A8B">88%</td>
            <td style="width:33%;border:1px solid #0E5A8B">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #0E5A8B">D厂</td>
            <td style="width:33%;border:1px solid #0E5A8B">88%</td>
            <td style="width:33%;border:1px solid #0E5A8B">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #0E5A8B">E厂</td>
            <td style="width:33%;border:1px solid #0E5A8B">88%</td>
            <td style="width:33%;border:1px solid #0E5A8B">50台次</td>
        </tr>
    </table>
</div>

@*燃生物质锅炉效率*@
<div id="biomassBurning" style="width:100%;height:324pt;display:none">
    <table style="margin-left:auto;margin-right:auto;width:90%;border:1px solid #0E5A8B;">
        <tr>
            <td colspan="3" style="height:44pt;background:#00395F;font-size:14pt;color:#F1F4F9;text-align:center">
                燃生物质锅炉效率
            </td>
        </tr>
        <tr style="height:44pt;background:#00395F;color:#F1F4F9;text-align:center">
            <td style="width:33%;">燃料总类</td>
            <td style="width:33%;">平均效率</td>
            <td style="width:33%;">监测台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #00395F">A厂</td>
            <td style="width:33%;border:1px solid #00395F">88%</td>
            <td style="width:33%;border:1px solid #00395F">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #00395F">B厂</td>
            <td style="width:33%;border:1px solid #00395F">88%</td>
            <td style="width:33%;border:1px solid #00395F">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #00395F">C厂</td>
            <td style="width:33%;border:1px solid #00395F">88%</td>
            <td style="width:33%;border:1px solid #00395F">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #00395F">D厂</td>
            <td style="width:33%;border:1px solid #00395F">88%</td>
            <td style="width:33%;border:1px solid #00395F">50台次</td>
        </tr>
        <tr style="height:44pt;background:#FFFFFF;color:#555555;text-align:center" onclick="DeviceListView()">
            <td style="width:33%;border:1px solid #00395F">E厂</td>
            <td style="width:33%;border:1px solid #00395F">88%</td>
            <td style="width:33%;border:1px solid #00395F">50台次</td>
        </tr>
    </table>
</div>

@*预警相关 放弃版*@
@*
<div id="temperatureOrPressurePreviewWarning" style="width:90%;margin-left:auto;margin-right:auto">
    <div style="">

        <table style="width:100%;border:1px solid #C53840;font-size:14pt">
            <tr style="height:44pt;text-align:center;line-height:44pt;">
                <td id="temperaturePreviewWarning" style="width:50%;background:#C53840;color:white" onclick="temperatureOnclick()">温度预警</td>
                <td id="pressurePreviewWarning" onclick="pressureOnclick()">压力预警</td>
            </tr>
        </table>
    </div>

    <table id="temperaturePreviewWarningContent" style="width:100%;text-align:center;line-height:44px;border:1px solid red;">
        <tbody style="width:100%">
            <tr style="width:100%">
                <td style="width:50%;height:44px;color:#C53840;border:1px solid #C53840">单位</td>
                <td style="width:50%;color:#C53840;border:1px solid #C53840">平均预警</td>
            </tr>
            <tr>
                <td style="width:50%;border:1px solid #C53840">A厂温度</td>
                <td style="width:50%;border:1px solid #C53840">2000次</td>
            </tr>
            <tr>
                <td style="width:50%;border:1px solid #C53840">B厂</td>
                <td style="width:50%;border:1px solid #C53840">2000次</td>
            </tr>
            <tr>
                <td style="width:50%;border:1px solid #C53840">C厂</td>
                <td style="width:50%;border:1px solid #C53840">2000次</td>
            </tr>
            <tr>
                <td style="width:50%;border:1px solid #C53840">D厂</td>
                <td style="width:50%;border:1px solid #C53840">2000次</td>
            </tr>
            <tr>
                <td style="width:50%;border:1px solid #C53840">E厂</td>
                <td style="width:50%;border:1px solid #C53840">2000次</td>
            </tr>
        </tbody>

    </table>

    <table id="pressurePreviewWarningContent" style="width:100%;text-align:center;line-height:44px;border:1px solid red;display:none">
        <tbody style="width:100%">
            <tr>
                <td style="width:50%;height:44px;color:#C53840;border:1px solid #C53840">单位</td>
                <td style="color:#C53840;border:1px solid #C53840">平均预警</td>
            </tr>
            <tr>
                <td style="border:1px solid #C53840">A厂压力</td>
                <td style="border:1px solid #C53840">2000次</td>
            </tr>
            <tr>
                <td style="border:1px solid #C53840">B厂</td>
                <td style="border:1px solid #C53840">2000次</td>
            </tr>
            <tr>
                <td style="border:1px solid #C53840">C厂</td>
                <td style="border:1px solid #C53840">2000次</td>
            </tr>
            <tr>
                <td style="border:1px solid #C53840">D厂</td>
                <td style="border:1px solid #C53840">2000次</td>
            </tr>
            <tr>
                <td style="border:1px solid #C53840">E厂</td>
                <td style="border:1px solid #C53840">2000次</td>
            </tr>
        </tbody>

    </table>

</div>
*@


@*预警相关 第二版*@
<div id="previewWarningHead" style="width:90%;margin-left:auto;margin-right:auto;display:none">
    <div id="previewWarningTemparatureHead" style="float:left;width:49%;height:40px;text-align:center;background-color:#C53840;color:white;border:1px solid #C53840" onclick="ShowWDWarning()"><label style="line-height:40px;">温度报警</label></div>
    <div id="previewWarningPressureHead" style="float:left;width:49%;height:40px;text-align:center;background-color:white;border:1px solid #C53840" onclick="ShowYLWarning()"><label style="line-height:40px;">压力报警</label></div>
</div>

<div id="DataContent" style="clear:both;width:90%;height:auto;border-top-style:solid;border-top-width:1px;background-color:white;margin-left:auto;margin-right:auto;display:none">
    @*
    <div style="height:40px;float:left;width:20%;background-color:cadetblue;" onclick="EffTimeSpan()">
        <p style="text-align:center;font-size:16px;line-height:40px;" id="EffiTimeSpan">1周</p>
    </div>
    *@
    @*
    <div style="height:40px;float:left;width:60%;">
        <p style="text-align:center;font-size:16px;" id="WarningTitle">温度报警</p>
    </div>
    *@
    @*
    <div style="height:40px;float:left;width:20%;background-color:cadetblue;" onclick="SelLocation()">
        <p style="text-align:center;font-size:16px;line-height:40px;" id="EffiLocat">重庆市</p>
    </div>
    *@
    <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;color:#C53840">单位</p>
        </div>
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;color:#C53840">平均效率</p>
        </div>
        <div style="float:left;height:50px;width:0%">
            <p style="text-align:center;line-height:50px;">  </p>
        </div>
    </div>
    <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">A厂</p>
        </div>
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">50次</p>
        </div>
        <div style="float:left;height:50px;width:0%">
            <p style="text-align:center;line-height:50px;">  </p>
        </div>
    </div>
    <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">B厂</p>
        </div>
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">50次</p>
        </div>
        <div style="float:left;height:50px;width:0%">
            <p style="text-align:center;line-height:50px;">  </p>
        </div>
    </div>
    <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">C厂</p>
        </div>
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">50次</p>
        </div>
        <div style="float:left;height:50px;width:0%">
            <p style="text-align:center;line-height:50px;">  </p>
        </div>
    </div>
    <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">D厂</p>
        </div>
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">50次</p>
        </div>
        <div style="float:left;height:50px;width:0%">
            <p style="text-align:center;line-height:50px;">  </p>
        </div>
    </div>
    <div style="clear:both;height:50px;border-bottom-style:dotted;border-bottom-color:cadetblue;border-bottom-width:1px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">E厂</p>
        </div>
        <div style="float:left;height:50px;width:49%;border:1px solid #C53840">
            <p style="text-align:center;line-height:50px;">50 次</p>
        </div>
        <div style="float:left;height:50px;width:0%">
            <p style="text-align:center;line-height:50px;">  </p>
        </div>
    </div>

</div>

<script>
    function naturalGoBackMain() {
        $("#naturalfallbackMain").css("display", "none");
        $("#fallbackLogin").css("display", "block");
        $("#naturalGas").css("display", "none");
        $("#monitor").css("display", "block");
        $("#previewWarning").css("display", "block");
    }

    function fuelGoBackMain() {
        $("#fuelfallbackMain").css("display", "none");
        $("#fallbackLogin").css("display", "block");
        $("#fuel").css("display", "none");
        $("#monitor").css("display", "block");
        $("#previewWarning").css("display", "block");
    }

    function coalGoBackMain() {
        $("#coalfallbackMain").css("display", "none");
        $("#fallbackLogin").css("display", "block");
        $("#coal").css("display", "none");
        $("#monitor").css("display", "block");
        $("#previewWarning").css("display", "block");
    }

    function biomassBurningGoBackMain() {
        $("#biomassBurningfallbackMain").css("display", "none");
        $("#fallbackLogin").css("display", "block");
        $("#biomassBurning").css("display", "none");
        $("#monitor").css("display", "block");
        $("#previewWarning").css("display", "block");
    }

    function previewWarningfallbackMain() {
        $("#previewWarningfallbackMain").css("display", "none");
        $("#fallbackLogin").css("display", "block");
        $("#previewWarningHead").css("display", "none");
        $("#DataContent").css("display", "none");
        $("#monitor").css("display", "block");
        $("#previewWarning").css("display", "block");
    }
</script>

<script>
    function naturalGas() {
        $("#monitor").css("display", "none");
        $("#previewWarning").css("display", "none");
        $("#naturalGas").css("display", "block");
        $("#fallbackLogin").css("display", "none");
        $("#naturalfallbackMain").css("display", "block");
    };

    function fuel() {
        $("#monitor").css("display", "none");
        $("#previewWarning").css("display", "none");
        $("#fuel").css("display", "block");
        $("#fallbackLogin").css("display", "none");
        $("#fuelfallbackMain").css("display", "block");
    }

    function coal() {
        $("#monitor").css("display", "none");
        $("#previewWarning").css("display", "none");
        $("#coal").css("display", "block");
        $("#fallbackLogin").css("display", "none");
        $("#coalfallbackMain").css("display", "block");
    }

    function biomassBurning() {
        $("#monitor").css("display", "none");
        $("#previewWarning").css("display", "none");
        $("#biomassBurning").css("display", "block");
        $("#fallbackLogin").css("display", "none");
        $("#biomassBurningfallbackMain").css("display", "block");
    }

    function temperatureOnclick() {
        $("#pressurePreviewWarningContent").css("display", "none");
        $("#pressurePreviewWarning").css("background", "white");
        $("#pressurePreviewWarning").css("color", "black");

        $("#temperaturePreviewWarningContent").css("display", "block");
        $("#temperaturePreviewWarning").css("background", "#C53840");
        $("#temperaturePreviewWarning").css("color", "white");
    }

    function pressureOnclick() {
        $("#temperaturePreviewWarningContent").css("display", "none");
        $("#temperaturePreviewWarning").css("background", "white");
        $("#temperaturePreviewWarning").css("color", "black");

        document.getElementById("pressurePreviewWarningContent").style = "width:100%;text-align:center;line-height:44px;border:1px solid red;display:block";
        //$("#pressurePreviewWarningContent").css("display", "block");
        $("#pressurePreviewWarning").css("background", "#C53840");
        $("#pressurePreviewWarning").css("color", "white");
    }

    function showPressure() {
        $("#monitor").css("display", "none");
        $("#previewWarning").css("display", "none");
        $("#previewWarningHead").css("display", "block");
        $("#DataContent").css("display", "block");
        $("#fallbackLogin").css("display", "none");
        $("#previewWarningfallbackMain").css("display", "block");

        ShowYLWarning();
    }

    function showTemperature() {
        $("#monitor").css("display", "none");
        $("#previewWarning").css("display", "none");
        $("#previewWarningHead").css("display", "block");
        $("#DataContent").css("display", "block");
        $("#fallbackLogin").css("display", "none");
        $("#previewWarningfallbackMain").css("display", "block");

        ShowWDWarning();
    }

    function ShowYLWarning() {
        //darkgray
        //       $("#DataContent").css("background-color", "blue");
        $("#WarningTitle").text("压力报警");

        $("#previewWarningTemparatureHead").css("background-color", "white");
        $("#previewWarningTemparatureHead").css("color", "black");

        $("#previewWarningPressureHead").css("background-color", "#C53840");
        $("#previewWarningPressureHead").css("color", "white");
    }

    function ShowWDWarning() {
        //       $("#DataContent").css("background-color", "yellow");
        $("#WarningTitle").text("温度报警");

        $("#previewWarningTemparatureHead").css("background-color", "#C53840");
        $("#previewWarningTemparatureHead").css("color", "white");

        $("#previewWarningPressureHead").css("background-color", "white");
        $("#previewWarningPressureHead").css("color", "black");
    }

    function DeviceListView() {
        window.location.href = "/MainPage/DeviceListView";
    }

    function DeviceListView() {
        window.location.href = "/MainPage/DeviceListView";
    }
</script>

<div style="clear:both;height:50px;width:100%;"></div>
<div style="position:fixed;width:100%;bottom:0px;height:40pt;background-color:white;font-size:18pt;border:solid 1pt #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
    <div style="float:left;width:20%;text-align:center;background-color:#19479d"><span style="line-height:40pt;color:white" onclick="GoMainStateView()">首页</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoEfficiencyView()">能效</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoSafeStateView()">安全</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoMapView()">地图</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoSettingView()">设置</span></div>
</div>
<script type="text/javascript">
    function GoMainStateView() {
        window.location.href = "/MainPage/MainStateView";
    }

    function GoEfficiencyView() {
        window.location.href = "/MainPage/EfficiencyView";
    }

    function GoSafeStateView() {
        window.location.href = "/MainPage/SafeStateView";
    }

    function GoMapView() {
        window.location.href = "/MainPage/MapView";
    }

    function GoSettingView() {
        window.location.href = "/MainPage/SettingView";
    }


    function LocationView() {
        window.location.href = "/MainPage/LocationView";
    }
    function WarningView() {
        window.location.href = "/MainPage/WDWarningView";
    }

    $(document).ready(function () {

        $(".animsition").animsition({

            inClass: 'fade-in',
            outClass: 'fade-out',
            inDuration: 100,
            outDuration: 500,
            linkElement: '.animsition-link',
            // e.g. linkElement   :   'a:not([target="_blank"]):not([href^=#])'
            loading: true,
            loadingParentElement: 'body', //animsition wrapper element
            loadingClass: 'animsition-loading',
            unSupportCss: ['animation-duration',
                '-webkit-animation-duration',
                '-o-animation-duration'
            ],
            //"unSupportCss" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
            //The default setting is to disable the "animsition" in a browser that does not support "animation-duration".

            overlay: false,

            overlayClass: 'animsition-overlay-slide',
            overlayParentElement: 'body'
        });
    });

    $("#timestart").datetimePicker({
        title: '起始时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
    $("#timeend").datetimePicker({
        title: '结束时间',
        years: [2017, 2018, 2019],
        //monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });



    function SearchLocatFunc() {
        $.actions({
            title: "选择区域",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "重庆市",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#SearchLocat").val("重庆市");
                    }
                },
                {
                    text: "江北区",
                    className: "color-primary",
                    onClick: function () {
                        $("#SearchLocat").val("江北区");
                    }
                },
                {
                    text: "渝中区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝中区");
                    }
                },
                {
                    text: "沙坪坝区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("沙坪坝区");
                    }
                },
                {
                    text: "渝北",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("渝北");
                    }
                },
                {
                    text: "九龙坡区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("九龙坡区");
                    }
                },
                {
                    text: "北碚区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#SearchLocat").val("北碚区");
                    }
                }

            ]
        });
    }



    function SelLocation() {
        $.actions({
            title: "选择区域",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "重庆市",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#EffiLocat").text("重庆市");
                    }
                },
                {
                    text: "江北区",
                    className: "color-primary",
                    onClick: function () {
                        $("#EffiLocat").text("江北区");
                    }
                },
                {
                    text: "渝中区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("渝中区");
                    }
                },
                {
                    text: "沙坪坝区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("沙坪坝区");
                    }
                },
                {
                    text: "渝北",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("渝北");
                    }
                },
                {
                    text: "九龙坡区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("九龙坡区");
                    }
                },
                {
                    text: "北碚区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("北碚区");
                    }
                }

            ]
        });
    }

    function WarningTimeSpan() {

        //一周，一月，一季，一年，二年，全部

        $.actions({
            title: "选择时间跨度",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "1周",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#WarningTSpan").text("一周");
                    }
                },
                {
                    text: "一月",
                    className: "color-primary",
                    onClick: function () {
                        $("#WarningTSpan").text("一月");
                    }
                },
                {
                    text: "一季",
                    className: 'color-primary',
                    onClick: function () {
                        $("#WarningTSpan").text("一季");
                    }
                },
                {
                    text: "一年",
                    className: 'color-primary',
                    onClick: function () {
                        $("#WarningTSpan").text("一年");
                    }
                },
                {
                    text: "二年",
                    className: 'color-primary',
                    onClick: function () {
                        $("#WarningTSpan").text("二年");
                    }
                },
                {
                    text: "全部",
                    className: 'color-primary',
                    onClick: function () {
                        $("#WarningTSpan").text("全部");
                    }
                }

            ]
        });
    }


</script>
