@{
                /**/

                ViewBag.Title = "燃油锅炉效率";
                Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
<link rel="stylesheet" href="~/Content/WeChat.css" />
<link rel="stylesheet" href="~/Content/PageTransitions/dist/css/animsition.min.css" />
<script src="~/Content/PageTransitions/dist/js/jquery.animsition.min.js"></script>
}

@*
<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form" action="#">

        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
*@

<div style="position:relative;margin-bottom:52pt;">
    <div style="height:50pt;">
        <div style="font-size:18pt;color:#19479d;float:left;margin-top:15pt;margin-left: 12pt;" onclick="GoBack()"><img src="../../Content/Images/back.png" style="width:20pt" /><span style="position: relative;bottom: 4pt;">返回</span></div>
        <div style="float:right;margin-top: 6pt;margin-right: 12pt;"><img src="../../Content/Images/smalllogo.png" style="width:39pt;" /></div>
        <div style="color:#19479d;font-size:14pt;float:right;padding-top:16pt;">用户名&emsp;</div>
    </div>
    <div style="padding:0 12pt;" onclick="ShowSearch()">
        <div style="width:87%;"><input type="text" style="float: left;color:#19479d;width: 94%;height: 40pt;border-bottom-left-radius: 25pt;border-top-left-radius: 25pt;border: 1px solid #19479d;font-size: 16pt;outline: none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;" placeholder="&emsp;请输入关键字" /></div>
        <div style="float:left;height: 40pt;background: #19479d;width: 18%;top: 0pt;border-bottom-right-radius: 25pt;border-top-right-radius: 25pt;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-align: center;padding: 8pt"><img src="../../Content/Images/search2.png" /></div>
    </div>
</div>

<script type="text/javascript">
    function ShowSearch() {
        $("#SearchPad").css("display", "block");
        $(".weui-search-bar").css("display", "none");
    }

    function GoBack() {
        window.location.href = "/MainPage/MainStateView";
    }

    function cancelSearch() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }

    function Search() {
        $("#SearchPad").css("display", "none");
        $(".weui-search-bar").css("display", "block");
    }
</script>




@*<div style="height:24pt;"></div>*@

<div style="height:auto;margin:12pt;">
    @*
    <div style="height:40px;float:left;width:20%;background-color:cadetblue;" onclick="EffTimeSpan()">
        <p style="text-align:center;font-size:16px;line-height:40px;" id="EffiLocat">1周</p>
    </div>
    *@
    <div style="height:40pt;float:left;width:100%;background:#11696C;">
        <p style="text-align:center;font-size:16px;line-height:55px;color:white">燃油锅炉效率</p>
    </div>
    @*
    <div style="height:40px;float:left;width:20%;background-color:cadetblue;" onclick="SelLocation()">
        <p style="text-align:center;font-size:16px;line-height:40px;" id="EffiLocat">重庆市</p>
    </div>
    *@
    <div style="clear:both;height:40pt;color:white;background-color:#11696C;">
        <div style="float:left;height:40pt;width:34%;border: 1px solid white;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
            <p style="text-align:center;line-height:50px;">燃料种类</p>
        </div>
        <div style="float:left;height:40pt;width:33%;border: 1px solid white;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
            <p style="text-align:center;line-height:50px;">平均效率</p>
        </div>
        <div style="float:left;height:40pt;width:33%;border: 1px solid white;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
            <p style="text-align:center;line-height:50px;">监测台次</p>
        </div>
    </div>
    <div style="clear:both;height:40px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:34%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">A厂</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">50台次</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">88%</p>
        </div>
    </div>
    <div style="clear:both;height:40px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:34%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">B厂</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">50台次</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">88%</p>
        </div>
    </div>
    <div style="clear:both;height:40px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:34%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">C厂</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">50台次</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">88%</p>
        </div>
    </div>
    <div style="clear:both;height:40px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:34%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">D厂</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">50台次</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">88%</p>
        </div>
    </div>
    <div style="clear:both;height:40px;" onclick="DeviceListView()">
        <div style="float:left;height:50px;width:34%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">E厂</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">50台次</p>
        </div>
        <div style="float:left;height:50px;width:33%;border:1px solid #178B8C;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box">
            <p style="text-align:center;line-height:50px;">88%</p>
        </div>
    </div>

</div>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $("a").click(function () {
    //        var ref = $(this).attr("href");
    //        alert(ref);
    //    });

    //});
    function DeviceListView() {
        window.location.href = "/MainPage/DeviceListView";
    }

    function SelLocation() {
        $.actions({
            title: "选择区域",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "重庆市",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#EffiLocat").text("重庆市");
                    }
                },
                {
                    text: "江北区",
                    className: "color-primary",
                    onClick: function () {
                        $("#EffiLocat").text("江北区");
                    }
                },
                {
                    text: "渝中区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("渝中区");
                    }
                },
                {
                    text: "沙坪坝区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("沙坪坝区");
                    }
                },
                {
                    text: "渝北",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("渝北");
                    }
                },
                {
                    text: "九龙坡区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("九龙坡区");
                    }
                },
                {
                    text: "北碚区",
                    className: 'color-primary',
                    onClick: function () {
                        $("#EffiLocat").text("北碚区");
                    }
                }

            ]
        });
    }

    function EffTimeSpan() {

        //一周，一月，一季，一年，二年，全部

        $.actions({
            title: "选择时间跨度",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "1周",
                    className: "color-primary",
                    onClick: function () {
                        //选择后的事情
                        $("#WarningTSpan").text("一周");
                    }
                },
                {
                    text: "一月",
                    className: "color-primary",
                    onClick: function () {
                        $("#WarningTSpan").text("一月");
                    }
                },
                {
                    text: "一季",
                    className: 'color-primary',
                    onClick: function () {
                        $("#WarningTSpan").text("一季");
                    }
                },
                {
                    text: "一年",
                    className: 'color-primary',
                    onClick: function () {
                        $("#WarningTSpan").text("一年");
                    }
                },
                {
                    text: "二年",
                    className: 'color-primary',
                    onClick: function () {
                        $("#WarningTSpan").text("二年");
                    }
                },
                {
                    text: "全部",
                    className: 'color-primary',
                    onClick: function () {
                        $("#WarningTSpan").text("全部");
                    }
                }

            ]
        });
    }
</script>

<div style="clear:both;height:50px;width:100%;"></div>
<div style="position:fixed;width:100%;bottom:0px;height:40pt;background-color:white;font-size:18pt;border:solid 1pt #19479d;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
    <div style="float:left;width:20%;text-align:center;background-color:#19479d"><span style="line-height:40pt;color:white" onclick="GoMainStateView()">首页</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoEfficiencyView()">能效</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoSafeStateView()">安全</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoMapView()">地图</span></div>
    <div style="float:left;width:20%;text-align:center;"><span style="line-height:40pt;" onclick="GoSettingView()">设置</span></div>
</div>
<script type="text/javascript">

    function GoMainStateView() {
        window.location.href = "/MainPage/MainStateView";
    }

    function GoEfficiencyView() {
        window.location.href = "/MainPage/EfficiencyView";
    }

    function GoSafeStateView() {
        window.location.href = "/MainPage/SafeStateView";
    }

    function GoMapView() {
        window.location.href = "/MainPage/MapView";
    }

    function GoSettingView() {
        window.location.href = "/MainPage/SettingView";
    }
</script>