
@{
    ViewBag.Title = "TestView";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
<div class='demos-content-padded'>


    <a href="javascript:;" class="weui-btn weui-btn_primary" style="width:80%;">按钮</a>

</div>
